<link rel="stylesheet" href="assets/plugins/sweet-alert/sweetalert.css">

<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <div class="row">

                        <h4 class="pull-left">Alert Popup</h4>


                        <ol class="breadcrumb pull-right">
                            <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                            <li>Alert Popup</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div><!-- end .page title-->

        <div class="row">

            <div class="col-md-3">
                <div class="panel panel-card">
                    <!-- Start .panel -->

                    <div class="panel-body">


                        <div class="showcase sweet">
                            <h4>Sweet Alert</h4>
                            <button class="btn">Show error message</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-card">
                    <!-- Start .panel -->

                    <div class="panel-body">


                        <div class="showcase sweet">
                            <h4>A basic message</h4>
                            <button class="btn message">Try me!</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-card">
                    <!-- Start .panel -->

                    <div class="panel-body">


                        <div class="showcase sweet">
                            <h4>A title with a text under</h4>
                            <button class="btn title-text">Try me!</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-card">
                    <!-- Start .panel -->

                    <div class="panel-body">


                        <div class="showcase sweet">
                            <h4>A success message!</h4>
                            <button class="btn success">Try me!</button>

                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="panel panel-card">
                    <!-- Start .panel -->

                    <div class="panel-body">


                        <div class="showcase sweet">
                            <h4>A warning message, with a function attached to the "Confirm"-button...</h4>
                            <button class="btn warning confirm">Try me!</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-card">
                    <!-- Start .panel -->

                    <div class="panel-body">


                        <div class="showcase sweet">
                            <h4>... and by passing a parameter, you can execute something else for "Cancel".</h4>
                            <button class="btn warning cancel">Try me!</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-card">
                    <!-- Start .panel -->

                    <div class="panel-body">


                        <div class="showcase sweet">
                            <h4>A message with a custom icon</h4>
                            <button class="btn custom-icon">Try me!</button>

                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="panel panel-card">
                    <!-- Start .panel -->

                    <div class="panel-body">


                        <div class="showcase sweet">
                            <h4>An HTML message</h4>
                            <button class="btn message-html">Try me!</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-card">
                    <!-- Start .panel -->

                    <div class="panel-body">


                        <div class="showcase sweet">
                            <h4>A message with auto close timer</h4>
                            <button class="btn timer">Try me!</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-card">
                    <!-- Start .panel -->

                    <div class="panel-body">


                        <div class="showcase sweet">
                            <h4>A replacement for the "prompt" function</h4>
                            <button class="btn input">Try me!</button>

                        </div>
                    </div>
                </div>
            </div>



        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="panel panel-card">
                    <!-- Start .panel -->

                    <div class="panel-body">


                        <div class="showcase sweet">
                            <h4>With a loader (for AJAX request for example)</h4>
                            <button class="btn ajax">Try me!</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-card">
                    <!-- Start .panel -->

                    <div class="panel-body">


                        <div class="showcase sweet">
                            <h4>You can also change the theme of SweetAlert</h4>
                            <button class="btn theme">Try me!</button>

                        </div>
                    </div>
                </div>
            </div>





        </div>

    </div>
    <div class="clearfix"></div>
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company © 2016
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->
<script src="assets/plugins/sweet-alert/sweetalert-dev.js"></script>
<script src="assets/js/alert-popup.js"></script>