<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title marginb0">
                    <div class="row">

                        <h4 class="pull-left">Blogs</h4>


                        <ol class="breadcrumb pull-right">
                            <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                            <li>Blogs</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div><!-- end .page title-->
        <div class="row">
            <div class="col-md-4 margin-b-30">
                <div class="blog-post">
                    <a href="#">
                        <img src="assets/images/img-1.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="blog-desc">
                        <h3><a href="#">Lorem ipsum dolor</a></h3>
                        <span class="blog-meta"><a href="#">By Admin</a> 24 July 2015 <a href="#">934 Comments</a></span>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                        <p><a href="#">Continue Reading</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 margin-b-30">
                <div class="blog-post">
                    <a href="#">
                        <img src="assets/images/img-2.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="blog-desc">
                        <h3><a href="#">Lorem ipsum dolor</a></h3>
                        <span class="blog-meta"><a href="#">By Admin</a> 24 July 2015 <a href="#">934 Comments</a></span>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                        <p><a href="#">Continue Reading</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 margin-b-30">
                <div class="blog-post">
                    <a href="#">
                        <img src="assets/images/img-3.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="blog-desc">
                        <h3><a href="#">Lorem ipsum dolor</a></h3>
                        <span class="blog-meta"><a href="#">By Admin</a> 24 July 2015 <a href="#">934 Comments</a></span>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                        <p><a href="#">Continue Reading</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 margin-b-30">
                <div class="blog-post">
                    <a href="#">
                        <img src="assets/images/img-6.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="blog-desc">
                        <h3><a href="#">Lorem ipsum dolor</a></h3>
                        <span class="blog-meta"><a href="#">By Admin</a> 24 July 2015 <a href="#">934 Comments</a></span>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                        <p><a href="#">Continue Reading</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 margin-b-30">
                <div class="blog-post">
                    <a href="#">
                        <img src="assets/images/img-4.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="blog-desc">
                        <h3><a href="#">Lorem ipsum dolor</a></h3>
                        <span class="blog-meta"><a href="#">By Admin</a> 24 July 2015 <a href="#">934 Comments</a></span>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                        <p><a href="#">Continue Reading</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 margin-b-30">
                <div class="blog-post">
                    <a href="#">
                        <img src="assets/images/img-5.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="blog-desc">
                        <h3><a href="#">Lorem ipsum dolor</a></h3>
                        <span class="blog-meta"><a href="#">By Admin</a> 24 July 2015 <a href="#">934 Comments</a></span>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                        <p><a href="#">Continue Reading</a></p>
                    </div>
                </div>
            </div>
        </div>

        <ul class="pagination text-right pull-right clearfix">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company © 2016
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->