<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title marginb0">
                    <div class="row">

                        <h4 class="pull-left">Blog Post</h4>


                        <ol class="breadcrumb pull-right">
                            <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                            <li>Blog Post</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div><!-- end .page title-->
        <div class="row">
            <div class="col-sm-8">
                <div class="blog-single-post">
                    <div class="post-header">
                        <h2><font><font>
                            Praesent bibendum eros urn, in mattis est.
                        </font></font></h2>
                        <span class="blog-meta"><a href="#"><font><font>By Admin</font></font></a><font><font> 24 July 2015 </font></font><a href="#"><font><font>934 Comments</font></font></a></span>
                    </div>
                    <p><font><font>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some way, either because injected humor, or randomized words which do not look even slightly believable. </font><font>If you use a passage of Lorem Ipsum, you need to be sure that there is nothing embarrassing hidden in the middle of the text. </font><font>All the Lorem Ipsum generators found on the Internet tend to repeat predefined chunks as necessary, making this the only true generator (valid) on the Internet. </font><font>Use a dictionary of over 200 Latin words, combined with a handful of sentences structures, to generate Lorem Ipsum which looks reasonable. </font><font>The generated Lorem Ipsum is always free from repetition, humor or words not added language features, etc.
                    </font></font></p>
                    <p><font><font>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some way, either because injected humor, or randomized words which do not look even slightly believable. </font><font>If you use a passage of Lorem Ipsum
                    </font></font></p>
                    <blockquote><font><font>
                        Sed ut unde omnis iste natus perspiciatis sit voluptatem accusantium doloremque laudantium mistake, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architect beatae vitae sunt explicabo dictates.
                    </font></font></blockquote>
                    <p><font><font>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some way, either because injected humor, or randomized words which do not look even slightly believable. </font><font>If you use a passage of Lorem Ipsum
                    </font></font></p>
                    <hr>
                    <ul class="socials list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                    </ul>
                    <hr>
                    <div class="panel">
                        <div class="panel-heading"><font><font>3 Comments</font></font></div>
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img src="assets/images/avtar-2.jpg" class="media-object img-circle" alt="" width="60">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 id="media-heading" class="media-heading"><a href=""><font><font>Susan Grant </font></font></a>
                                        <small><font><font>10 min</font></font></small>
                                        <a href="#media-heading">
                                            <span class="anchorjs-icon"></span>
                                        </a>
                                    </h4>
                                    <p><font><font>Donec massa ac tortor. </font><font>In hac habitasse dictumst audience. </font><font>Nam blandit fringilla faucibus. </font><font>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </font><font>Sed eget metus nisi vitae semper congue.</font></font></p>
                                    <p><font><font>Ullamcorper Fusce placerat tortor, placerat posuere consequat diam cursus.</font></font></p>
                                </div>
                            </div>
                            <hr>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img src="assets/images/avtar-1.jpg" class="media-object img-circle" alt="" width="60">
                                    </a>
                                </div>
                                <div class="media-body mb-lg">
                                    <h4 id="media-heading1" class="media-heading"><a href=""><font><font>Dustin Dunn </font></font></a>
                                        <small><font><font>20min</font></font></small>

                                    </h4><font><font>Cras sit amet nibh libero, in gravida nulla. </font><font>Nulla vel metus commodo sollicitudin scelerisque before. </font><font>Cras elit hatred in vulputate vestibulum at, viverra turpis tempus. </font><font>Fusce nunc ac nisi vulputate condimentum fringilla. </font><font>Donec congue lacinia felis in faucibus.
                                </font></font><hr>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="assets/images/avtar-3.jpg" class="media-object img-circle" alt="" width="60">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 id="nested-media-heading" class="media-heading"><a href=""><font><font>Marcus Gomez </font></font></a>
                                                <small><font><font>1 hour</font></font></small>

                                            </h4><font><font>Integer ac nisl et malesuada gravida urn. </font><font>Vivamus fermentum libero felis vel interdum aliquet.</font></font></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--panel-->
                    <div class="panel">
                        <div class="panel-heading">
                            <em class="fa fa-pencil"></em><font><font> Add your Comment</font></font></div>
                        <div class="panel-body">
                            <form action="/" class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <input id="post-firstname" type="text" name="post-firstname" placeholder="Your firstname" class="form-control">
                                    </div>
                                    <div class="col-xs-6">
                                        <input id="post-lastname" type="text" name="post-lastname" placeholder="Your lastname" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <textarea id="post-comment" name="post-comment" rows="4" placeholder="Comment here.." class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn-effect-ripple btn-primary"><font><font>Send Comment</font></font></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-3 col-sm-offset-1">
                <div class="sidebar-widget">
                    <h4><font><font>Text widget</font></font></h4>
                    <p><font><font>
                        Cras sit amet nibh libero, in gravida nulla. </font><font>Nulla vel metus commodo sollicitudin scelerisque before.
                    </font></font></p>
                </div>
                <div class="sidebar-widget">
                    <h4><font><font>tag clouds</font></font></h4>
                    <div class="tag-list">
                        <a href="#"><font><font>nibh </font></font></a>
                        <a href="#"><font><font>gravida </font></font></a>
                        <a href="#"><font><font>nulla </font></font></a>
                        <a href="#"><font><font>commodo </font></font></a>
                        <a href="#"><font><font>metus </font></font></a>
                        <a href="#"><font><font>Lorem </font></font></a>
                        <a href="#"><font><font>before</font></font></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company © 2016
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->