
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content-wrapper">
                <div class="content-wrapper container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title marginb0">
                                <div class="row">

                                    <h4 class="pull-left">Chat</h4>


                                    <ol class="breadcrumb pull-right">
                                        <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                                        <li>Chat</li>
                                    </ol>

                                </div>
                            </div>
                        </div>
                    </div><!-- end .page title-->

                  <div class="row">
                    <div class="col-md-3">
                         <div class="row">
                        <div class="chat-user">
                            <div class="list-group">
            <a class="list-group-item" href="#">
              <div class="media">
                <div class="media-left">
                  <img class="img-circle" width="40" height="40" src="assets/images/avtar-1.jpg" alt="Harry Jones">
                </div>
                <div class="media-middle media-body">
                  <h5 class="media-heading">Harry Jones</h5>
                  <small class="text-muted">Managing Partner at MDD</small>
                </div>
                <div class="media-middle media-right">
                  <div class="bg-success circle sq-8"></div>
                </div>
              </div>
            </a>
            <a class="list-group-item" href="#">
              <div class="media">
                <div class="media-left">
                  <img class="img-circle" width="40" height="40" src="assets/images/avtar-2.jpg" alt="Daniel Taylor">
                </div>
                <div class="media-middle media-body">
                  <h5 class="media-heading">Daniel Taylor</h5>
                  <small class="text-muted">Freelance Web Developer</small>
                </div>
                <div class="media-middle media-right">
                  <div class="bg-danger circle sq-8"></div>
                </div>
              </div>
            </a>
            <a class="list-group-item" href="#">
              <div class="media">
                <div class="media-left">
                  <img class="img-circle" width="40" height="40" src="assets/images/avtar-3.jpg" alt="Charlotte Harrison">
                </div>
                <div class="media-middle media-body">
                  <h5 class="media-heading">Charlotte Harrison</h5>
                  <small class="text-muted">Co-Founder &amp; CEO at Pi</small>
                </div>
                <div class="media-middle media-right">
                  <div class="bg-warning circle sq-8"></div>
                </div>
              </div>
            </a>
                                <a class="list-group-item" href="#">
              <div class="media">
                <div class="media-left">
                  <img class="img-circle" width="40" height="40" src="assets/images/avtar-1.jpg" alt="Harry Jones">
                </div>
                <div class="media-middle media-body">
                  <h5 class="media-heading">Harry Jones</h5>
                  <small class="text-muted">Managing Partner at MDD</small>
                </div>
                <div class="media-middle media-right">
                  <div class="bg-success circle sq-8"></div>
                </div>
              </div>
            </a>
            <a class="list-group-item" href="#">
              <div class="media">
                <div class="media-left">
                  <img class="img-circle" width="40" height="40" src="assets/images/avtar-2.jpg" alt="Daniel Taylor">
                </div>
                <div class="media-middle media-body">
                  <h5 class="media-heading">Daniel Taylor</h5>
                  <small class="text-muted">Freelance Web Developer</small>
                </div>
                <div class="media-middle media-right">
                  <div class="bg-danger circle sq-8"></div>
                </div>
              </div>
            </a>
            <a class="list-group-item" href="#">
              <div class="media">
                <div class="media-left">
                  <img class="img-circle" width="40" height="40" src="assets/images/avtar-3.jpg" alt="Charlotte Harrison">
                </div>
                <div class="media-middle media-body">
                  <h5 class="media-heading">Charlotte Harrison</h5>
                  <small class="text-muted">Co-Founder &amp; CEO at Pi</small>
                </div>
                <div class="media-middle media-right">
                  <div class="bg-warning circle sq-8"></div>
                </div>
              </div>
            </a>
              <a class="list-group-item" href="#">
              <div class="media">
                <div class="media-left">
                  <img class="img-circle" width="40" height="40" src="assets/images/avtar-3.jpg" alt="Charlotte Harrison">
                </div>
                <div class="media-middle media-body">
                  <h5 class="media-heading">Charlotte Harrison</h5>
                  <small class="text-muted">Co-Founder &amp; CEO at Pi</small>
                </div>
                <div class="media-middle media-right">
                  <div class="bg-warning circle sq-8"></div>
                </div>
              </div>
            </a>
          </div>
                        </div>
                         </div>
                    </div>
                    <div class="col-md-9 chat-user" style="background: #fff;" >


                         <!--Widget body-->
                                    <div id="demo-chat-body" class="in ">
                                        <div class="scrollerchat" style="height:600px">
                                            <div class="pad-all">
                                                <ul class="list-unstyled media-block">
                                                    <li class="mar-btm">
                                                        <div class="media-left">
                                                            <img src="assets/images/avatar1.png" class="img-circle img-sm" alt="Profile Picture">
                                                        </div>
                                                        <div class="media-body pad-hor">
                                                            <div class="speech">
                                                                <p>Hello Lucy, how can I help you today ?</p>
                                                                <p class="speech-time">
                                                                    <i class="fa fa-clock-o fa-fw"></i>09:23AM
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="mar-btm">
                                                        <div class="media-right">
                                                            <img src="assets/images/avatar2.png" class="img-circle img-sm" alt="Profile Picture">
                                                        </div>
                                                        <div class="media-body pad-hor speech-right">
                                                            <div class="speech">
                                                                <p>Hi, I want to buy a new shoes.</p>
                                                                <p class="speech-time">
                                                                    <i class="fa fa-clock-o fa-fw"></i> 09:23AM
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="mar-btm">
                                                        <div class="media-left">
                                                            <img src="assets/images/avatar1.png" class="img-circle img-sm" alt="Profile Picture">
                                                        </div>
                                                        <div class="media-body pad-hor">
                                                            <div class="speech">

                                                                <p>Shipment is free. You\'ll get your shoes tomorrow!</p>
                                                                <p class="speech-time">
                                                                    <i class="fa fa-clock-o fa-fw"></i> 09:25
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="mar-btm">
                                                        <div class="media-right">
                                                            <img src="assets/images/avatar2.png" class="img-circle img-sm" alt="Profile Picture">
                                                        </div>
                                                        <div class="media-body pad-hor speech-right">
                                                            <div class="speech">

                                                                <p>Wow, that\'s great!</p>
                                                                <p class="speech-time">
                                                                    <i class="fa fa-clock-o fa-fw"></i> 09:27
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="mar-btm">
                                                        <div class="media-right">
                                                            <img src="assets/images/avatar2.png" class="img-circle img-sm" alt="Profile Picture">
                                                        </div>
                                                        <div class="media-body pad-hor speech-right">
                                                            <div class="speech">

                                                                <p>Ok. Thanks for the answer. Appreciated.</p>
                                                                <p class="speech-time">
                                                                    <i class="fa fa-clock-o fa-fw"></i> 09:28
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="mar-btm">
                                                        <div class="media-left">
                                                            <img src="assets/images/avatar1.png" class="img-circle img-sm" alt="Profile Picture">
                                                        </div>
                                                        <div class="media-body pad-hor">
                                                            <div class="speech">

                                                                <p>You are welcome! <br> Is there anything else I can do for you today?</p>
                                                                <p class="speech-time">
                                                                    <i class="fa fa-clock-o fa-fw"></i> 09:30
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="mar-btm">
                                                        <div class="media-right">
                                                            <img src="assets/images/avatar2.png" class="img-circle img-sm" alt="Profile Picture">
                                                        </div>
                                                        <div class="media-body pad-hor speech-right">
                                                            <div class="speech">

                                                                <p>Nope, That\'s it.</p>
                                                                <p class="speech-time">
                                                                    <i class="fa fa-clock-o fa-fw"></i> 09:31
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="mar-btm">
                                                        <div class="media-left">
                                                            <img src="assets/images/avatar1.png" class="img-circle img-sm" alt="Profile Picture">
                                                        </div>
                                                        <div class="media-body pad-hor">
                                                            <div class="speech">

                                                                <p>Thank you for contacting us today</p>
                                                                <p class="speech-time">
                                                                    <i class="fa fa-clock-o fa-fw"></i> 09:32
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>


                                        </div>
                                    </div>
                           <!--Widget footer-->
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <input type="text" placeholder="Enter your text" class="form-control chat-input">
                                                </div>
                                                <div class="col-xs-4">
                                                    <button class="btn btn-primary btn-block" type="submit">Send</button>
                                                </div>
                                            </div>
                                        </div>

                    </div>
                </div>



                </div>
                <div class="clearfix"></div>
                <div class="footer">
                    <div class="pull-right">
                        10GB of <strong>250GB</strong> Free.
                    </div>
                    <div>
                        <strong>Copyright</strong> Example Company © 2016
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
            <script type="text/javascript" src="assets/js/chat.js"></script>