<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <div class="row">

                        <h4 class="pull-left">Masked Form</h4>


                        <ol class="breadcrumb pull-right">
                            <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                            <li>Masked Form</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div><!-- end .page title-->

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-card margin-b-30">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        Masked Inputs
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" data-masked="" data-inputmask="'mask': '999-99-999-9999-9'" placeholder="ISBN" class="form-control">
                                <span class="help-block">data-inputmask="'mask': '999-99-999-9999-9"'</span>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" data-masked="" data-inputmask="'mask': '99/99/9999'" placeholder="Date" class="form-control">
                                <span class="help-block">data-inputmask="'mask': '99/99/9999"'</span>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" data-masked="" data-inputmask="'mask': '(999) 999-9999'" placeholder="Phone number" class="form-control">
                                <span class="help-block">data-inputmask="'mask': '(999) 999-9999"'</span>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" data-masked="" data-inputmask="'mask': 'aaaa-9999-aa99-9999'" placeholder="Custom Key" class="form-control">
                                <span class="help-block">data-inputmask="'mask': 'aaaa-9999-aa99-9999"'</span>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" data-masked="" data-inputmask="'mask': '$ 999.999.999,99'" placeholder="Currency Dolar" class="form-control">
                                <span class="help-block">data-inputmask="'mask': '$ 999.999.999,99"'</span>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" data-masked="" data-inputmask="'mask': '€ 999.999.999,99'" placeholder="Currency Euro" class="form-control">
                                <span class="help-block">data-inputmask="'mask': '€ 999.999.999,99"'</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
    <div class="clearfix"></div>
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company © 2016
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->
<script src="assets/plugins/select/fancySelect.js"></script>
<script src="assets/plugins/select/select2.js"></script>
<script src="assets/plugins/input-mask/jquery.inputmask.bundle.min.js"></script>
<script src="assets/plugins/slider/bootstrap-slider.min.js"></script>
<script src="assets/js/custom-advanced-form.js"></script>