<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <div class="row">

                        <h4 class="pull-left">Form Wizard</h4>


                        <ol class="breadcrumb pull-right">
                            <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                            <li>Form Wizard</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div><!-- end .page title-->

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-card margin-b-30">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        Form Wizard
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="wizard" class="bwizard">
                            <!-- Start .bwizard -->
                            <ul class="bwizard-steps list-inline">
                                <li class="active">
                                    <a href="#tab1" data-toggle="tab">
                                        <span class="step-number">1</span>
                                        <span class="step-text">Personal Info</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab">
                                        <span class="step-number">2</span>
                                        <span class="step-text">Contact Info</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab3" data-toggle="tab">
                                        <span class="step-number">3</span>
                                        <span class="step-text">Account Info</span>
                                    </a>
                                </li>
                            </ul>
                            <form class="form-horizontal" role="form">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab1">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">First Name</label>
                                            <div class="col-md-9">
                                                <input class="form-control" name="firstname" type="text">
                                            </div>
                                        </div>
                                        <!-- End .control-group  -->
                                        <div class="form-group">
                                            <label class=" col-md-3 control-label">Last Name</label>
                                            <div class="col-md-9">
                                                <input class="form-control" name="lastname" type="text">
                                            </div>
                                        </div>
                                        <!-- End .control-group  -->
                                    </div>
                                    <div class="tab-pane" id="tab2">
                                        <div class="form-group">
                                            <label class=" col-md-3 control-label">Email</label>
                                            <div class="col-md-9">
                                                <input class="form-control" name="email" type="email">
                                            </div>
                                        </div>
                                        <!-- End .control-group  -->
                                        <div class="form-group">
                                            <label class=" col-md-3 control-label">Phone number</label>
                                            <div class=" col-md-9">
                                                <input class="form-control" name="phone" type="text">
                                            </div>
                                        </div>
                                        <!-- End .control-group  -->
                                    </div>
                                    <div class="tab-pane" id="tab3">
                                        <div class="form-group">
                                            <label class=" col-md-3 control-label">Username</label>
                                            <div class=" col-md-9">
                                                <input class="form-control" name="username" type="text">
                                            </div>
                                        </div>
                                        <!-- End .control-group  -->
                                        <div class="form-group">
                                            <label class=" col-md-3 control-label">Password</label>
                                            <div class=" col-md-9">
                                                <input class="form-control" name="password" type="password">
                                            </div>
                                        </div>
                                        <!-- End .control-group  -->
                                        <div class="form-group">
                                            <label class=" col-md-3 control-label">Re-type password</label>
                                            <div class=" col-md-9">
                                                <input class="form-control" name="password_2" type="password">
                                            </div>
                                        </div>
                                        <!-- End .control-group  -->
                                    </div>
                                </div>
                            </form>
                            <ul class="pager">
                                <li class="previous"><a href="#">&larr; Back</a>
                                </li>
                                <li class="next"><a href="#">Next &rarr;</a>
                                </li>
                                <li class="next finish" style="display:none;"><a href="#">Finish</a>
                                </li>
                            </ul>
                        </div>
                        <!-- End .bwizard -->

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-card margin-b-30">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        Form wizard with progressbar
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="wizard1" class="bwizard">
                            <!-- Start .bwizard -->
                            <ul class="bwizard-steps list-inline">
                                <li class="active">
                                    <a show-tab href="#tab4" data-toggle="tab">
                                        <span class="step-number">1</span>
                                        <span class="step-text">Personal Info</span>
                                    </a>
                                </li>
                                <li>
                                    <a show-tab href="#tab5" data-toggle="tab">
                                        <span class="step-number">2</span>
                                        <span class="step-text">Contact Info</span>
                                    </a>
                                </li>
                                <li>
                                    <a show-tab href="#tab6" data-toggle="tab">
                                        <span class="step-number">3</span>
                                        <span class="step-text">Account Info</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="wizard-progress">
                                <div id="bar" class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                            </div>
                            <form class="form-horizontal" role="form">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab4">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">First Name</label>
                                            <div class=" col-md-9">
                                                <input class="form-control" name="firstname" type="text">
                                            </div>
                                        </div>
                                        <!-- End .control-group  -->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Last Name</label>
                                            <div class=" col-md-9">
                                                <input class="form-control" name="lastname" type="text">
                                            </div>
                                        </div>
                                        <!-- End .control-group  -->
                                    </div>
                                    <div class="tab-pane" id="tab5">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Email</label>
                                            <div class=" col-md-9">
                                                <input class="form-control" name="email" type="email">
                                            </div>
                                        </div>
                                        <!-- End .control-group  -->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Phone number</label>
                                            <div class=" col-md-9">
                                                <input class="form-control" name="phone" type="text">
                                            </div>
                                        </div>
                                        <!-- End .control-group  -->
                                    </div>
                                    <div class="tab-pane" id="tab6">
                                        <div class="form-group">
                                            <label class=" col-md-3 control-label">Username</label>
                                            <div class=" col-md-9">
                                                <input class="form-control" name="username" type="text">
                                            </div>
                                        </div>
                                        <!-- End .control-group  -->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Password</label>
                                            <div class=" col-md-9">
                                                <input class="form-control" name="password" type="password">
                                            </div>
                                        </div>
                                        <!-- End .control-group  -->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Re-type password</label>
                                            <div class="col-md-9">
                                                <input class="form-control" name="password_2" type="password">
                                            </div>
                                        </div>
                                        <!-- End .control-group  -->
                                    </div>
                                </div>
                            </form>
                            <ul class="pager">
                                <li class="previous"><a href="#">&larr; Back</a>
                                </li>
                                <li class="next"><a href="#">Next &rarr;</a>
                                </li>
                                <li class="next finish" style="display:none;"><a href="#">Finish</a>
                                </li>
                            </ul>
                        </div>
                        <!-- End .bwizard -->

                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="clearfix"></div>
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company © 2016
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->
<script src="assets/plugins/jquery/jquery.validate.js"></script>
<script src="assets/plugins/bootstrap/js/jquery.bootstrap.wizard.js"></script>
<script src="assets/js/custom-forms-wizard.js"></script>