<div id="wrapperInner">
                <div class="content-wrapper container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title">
                                <h1>Dashboard<small></small> </h1>
                                <ol class="breadcrumb">
                                    <li><a href="#"><i class="fa fa-home"></i></a></li>
                                    <li class="active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- end .page title-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-card recent-activites">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">Total Product Sales</h4>
                                    <div class="panel-actions">
                                        <a href="javascript:;" data-target="#collapseOne" data-toggle="collapse" class="panel-action panel-action-toggle" ng-click="collapsed = !collapsed"></a>
                                        <a href="javascript:;" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                                    </div>
                                </div>
                                <div id="collapseOne" class="collapse in">
                                <div class="panel-body text-center">
                                    <canvas id="lineChart" height="110"></canvas>

                                </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="widget-box clearfix">
                                <div class="pull-center">
                                    <h4>User Performance</h4>
                                    <h2>17,50</h2>
                                </div>
                                <div class="text-center">
                                    <span id="sparkline8"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="widget-box clearfix">
                                        <div>
                                            <h2><i class="fa fa-plus pull-right p1-color"></i></h2>
                                            <h4>New orders</h4>
                                            <h2>580</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="widget-box clearfix">
                                        <div>
                                            <h2> <i class="fa fa-shopping-cart pull-right p2-color"></i></h2>
                                            <h4>Total sale today</h4>
                                            <h2>$970</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="widget-box clearfix">
                                        <div>
                                            <h2> <i class="fa fa-tasks pull-right p3-color"></i></h2>
                                            <h4>Pending Orders</h4>
                                            <h2>256</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="widget-box clearfix">
                                        <div>
                                            <h2><i class="fa fa-usd pull-right p4-color"></i></h2>
                                            <h4>Total Income</h4>
                                            <h2>$9.7k</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-card recent-activites">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">Total Product Sales</h4>
                                    <div class="panel-actions">
                                        <a href="javascript:;" data-target="#collapseTwo" data-toggle="collapse" class="panel-action panel-action-toggle" ng-click="collapsed = !collapsed"></a>
                                        <a href="javascript:;" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                                    </div>
                                </div>
                                <div id="collapseTwo" class="collapse in">
                                <div class="panel-body text-center">
                                    <div id="curved-line-chart" class="flot-chart " height="242"></div>

                                </div>
                                    </div>
                            </div>
                        </div>


                        <div class="col-sm-6">
                            <div class="panel panel-card recent-activites">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">Total Product Sales</h4>
                                    <div class="panel-actions">
                                        <a href="javascript:;" data-target="#collapseThree" data-toggle="collapse" class="panel-action panel-action-toggle" ng-click="collapsed = !collapsed"></a>
                                        <a href="javascript:;" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                                    </div>
                                </div>
                                <div id="collapseThree" class="collapse in">
                                <div class="panel-body text-center">
                                    <canvas id="polarChart" height="242"></canvas>

                                </div>
                                    </div>
                            </div>
                        </div>




                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="panel panel-card recent-activites">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">Total Product Sales</h4>
                                    <div class="panel-actions">
                                        <a href="javascript:;" data-target="#collapseFour" data-toggle="collapse" class="panel-action panel-action-toggle" ng-click="collapsed = !collapsed"></a>
                                        <a href="javascript:;" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                                    </div>
                                </div>
                                <div id="collapseFour" class="collapse in">
                                <div class="panel-body text-center">

                                    <div id="cw-body"></div>


                                </div>
                                    </div>
                            </div><!-- End .panel -->
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-card recent-activites">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">User Chat</h4>
                                    <div class="panel-actions">
                                        <a href="javascript:;" data-target="#collapseFive" data-toggle="collapse" class="panel-action panel-action-toggle" ng-click="collapsed = !collapsed"></a>
                                        <a href="javascript:;" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                                    </div>
                                </div>
                                <div id="collapseFive" class="collapse in">
                                <div class="panel-body text-center">



                                    <!--Widget body-->
                                    <div id="demo-chat-body" class="in ">
                                        <div class="nano has-scrollbar" style="height:380px">
                                            <div class="nano-content pad-all" tabindex="0" style="right: -17px;">
                                                <ul class="list-unstyled media-block">
                                                    <li class="mar-btm">
                                                        <div class="media-left">
                                                            <img src="images/avatar1.png" class="img-circle img-sm" alt="Profile Picture">
                                                        </div>
                                                        <div class="media-body pad-hor">
                                                            <div class="speech">
                                                                <a href="#" class="media-heading">John Doe</a>
                                                                <p>Hello Lucy, how can I help you today ?</p>
                                                                <p class="speech-time">
                                                                    <i class="fa fa-clock-o fa-fw"></i>09:23AM
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="mar-btm">
                                                        <div class="media-right">
                                                            <img src="images/avatar2.png" class="img-circle img-sm" alt="Profile Picture">
                                                        </div>
                                                        <div class="media-body pad-hor speech-right">
                                                            <div class="speech">
                                                                <a href="#" class="media-heading">Lucy Doe</a>
                                                                <p>Hi, I want to buy a new shoes.</p>
                                                                <p class="speech-time">
                                                                    <i class="fa fa-clock-o fa-fw"></i> 09:23AM
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="mar-btm">
                                                        <div class="media-left">
                                                            <img src="images/avatar1.png" class="img-circle img-sm" alt="Profile Picture">
                                                        </div>
                                                        <div class="media-body pad-hor">
                                                            <div class="speech">
                                                                <a href="#" class="media-heading">John Doe</a>
                                                                <p>Shipment is free. You\'ll get your shoes tomorrow!</p>
                                                                <p class="speech-time">
                                                                    <i class="fa fa-clock-o fa-fw"></i> 09:25
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="mar-btm">
                                                        <div class="media-right">
                                                            <img src="images/avatar2.png" class="img-circle img-sm" alt="Profile Picture">
                                                        </div>
                                                        <div class="media-body pad-hor speech-right">
                                                            <div class="speech">
                                                                <a href="#" class="media-heading">Lucy Doe</a>
                                                                <p>Wow, that\'s great!</p>
                                                                <p class="speech-time">
                                                                    <i class="fa fa-clock-o fa-fw"></i> 09:27
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="mar-btm">
                                                        <div class="media-right">
                                                            <img src="images/avatar2.png" class="img-circle img-sm" alt="Profile Picture">
                                                        </div>
                                                        <div class="media-body pad-hor speech-right">
                                                            <div class="speech">
                                                                <a href="#" class="media-heading">Lucy Doe</a>
                                                                <p>Ok. Thanks for the answer. Appreciated.</p>
                                                                <p class="speech-time">
                                                                    <i class="fa fa-clock-o fa-fw"></i> 09:28
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="mar-btm">
                                                        <div class="media-left">
                                                            <img src="images/avatar1.png" class="img-circle img-sm" alt="Profile Picture">
                                                        </div>
                                                        <div class="media-body pad-hor">
                                                            <div class="speech">
                                                                <a href="#" class="media-heading">John Doe</a>
                                                                <p>You are welcome! <br> Is there anything else I can do for you today?</p>
                                                                <p class="speech-time">
                                                                    <i class="fa fa-clock-o fa-fw"></i> 09:30
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="mar-btm">
                                                        <div class="media-right">
                                                            <img src="images/avatar2.png" class="img-circle img-sm" alt="Profile Picture">
                                                        </div>
                                                        <div class="media-body pad-hor speech-right">
                                                            <div class="speech">
                                                                <a href="#" class="media-heading">Lucy Doe</a>
                                                                <p>Nope, That\'s it.</p>
                                                                <p class="speech-time">
                                                                    <i class="fa fa-clock-o fa-fw"></i> 09:31
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="mar-btm">
                                                        <div class="media-left">
                                                            <img src="images/avatar1.png" class="img-circle img-sm" alt="Profile Picture">
                                                        </div>
                                                        <div class="media-body pad-hor">
                                                            <div class="speech">
                                                                <a href="#" class="media-heading">John Doe</a>
                                                                <p>Thank you for contacting us today</p>
                                                                <p class="speech-time">
                                                                    <i class="fa fa-clock-o fa-fw"></i> 09:32
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="nano-pane"><div class="nano-slider" style="height: 141px; transform: translate(0px, 0px);"></div></div></div>

                                        <!--Widget footer-->
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <input type="text" placeholder="Enter your text" class="form-control chat-input">
                                                </div>
                                                <div class="col-xs-4">
                                                    <button class="btn btn-primary btn-block" type="submit">Send</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                    </div>
                            </div><!-- End .panel -->
                        </div>
                    </div>


                </div>
            </div>
