<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <div class="row">

                        <h4 class="pull-left">Dashboard</h4>


                        <ol class="breadcrumb pull-right">
                            <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                            <li>Dashboard</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div><!-- end .page title-->




        <div class="row">
            <div class="col-sm-3">
                <div class="card cyan white-text clearfix">

                    <div class="clearfix">
                        <div class="row row-table">
                            <div class="col-xs-5 text-center bg-dark card-content-right"><i class="icon-layers background-icon"></i></div>
                            <div class="col-xs-7 text-center card-content-left">
                                <p class="card-stats-title right panel-title">Projects</p>
                                <h4 class="right panel-middle margin-b-0">3100</h4>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>

            <div class="col-sm-3">
                <div class="card orange white-text clearfix">
                    <div class="clearfix">
                        <div class="row row-table">
                            <div class="col-xs-5 text-center bg-dark card-content-right"><i class="icon-user background-icon"></i></div>
                            <div class="col-xs-7 text-center card-content-left">
                                <p class="card-stats-title right panel-title">All Users</p>
                                <h4 class="right panel-middle margin-b-0">6,782</h4>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>


                </div>
            </div>

            <div class="col-sm-3">
                <div class="card teal white-text clearfix">
                    <div class="clearfix">
                        <div class="row row-table">
                            <div class="col-xs-5 text-center bg-dark card-content-right"><i class="icon-list background-icon"></i></div>
                            <div class="col-xs-7 text-center card-content-left">
                                <p class="card-stats-title right panel-title">Total TODO</p>
                                <h4 class="right panel-middle margin-b-0">6,782</h4>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>


                </div>
            </div>

            <div class="col-sm-3">
                <div class="card green white-text clearfix">
                    <div class="clearfix">
                        <div class="row row-table">
                            <div class="col-xs-5 text-center bg-dark card-content-right"><i class="icon-like  background-icon"></i></div>
                            <div class="col-xs-7 text-center card-content-left">
                                <p class="card-stats-title right panel-title">Todo Completed</p>
                                <h4 class="right panel-middle margin-b-0">1782</h4>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>


                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-card recent-activites">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        All Tasks
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <div id="piechart"></div>
                    </div>
                </div><!-- End .panel -->
            </div>
            <div class="col-sm-6">
                <div class="panel panel-card recent-activites">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        All Projects
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <div id="columnchart_material" ></div>
                    </div>
                </div><!-- End .panel -->
            </div>

        </div>

        <div class="row">
            <div class="col-sm-6">

                <div class="dashboard-pinned-project dashboard-pinned-project-1 url-link" >

                    <div class="dashboard-pinned-project-header x-header"> <span class="project-client-name"><i class="icon-user"></i>
                                            Apple Inc
                                        </span> <span class="project-title">
                                            Iphone 8 Design Conecpts
                                        </span>
                        <span class="x-icon-contaner x-icon"><i class="icon-pushpin"></i></span>
                    </div>
                    <ul class="dashboard-pinned-project-footer">
                        <li class="border-right">
                            <div class="text-count">
                                44
                                %</div>
                            <div class="text-description text-muted">Complete</div>
                        </li>
                        <li class="border-right">
                            <div class="text-count">
                                3
                            </div>
                            <div class="text-description text-muted">My Tasks</div>
                        </li>
                        <li>
                            <div class="text-count">
                                459
                            </div>
                            <div class="text-description text-muted">Days Due</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">

                <div class="dashboard-pinned-project dashboard-pinned-project-2 url-link orange" >

                    <div class="dashboard-pinned-project-header x-header"> <span class="project-client-name"><i class="icon-user"></i>
                                            Microsoft Inc
                                        </span> <span class="project-title">
                                            Samsung Design Conecpts
                                        </span>  <span class="x-icon-contaner x-icon"><i class="icon-pushpin"></i></span></div>
                    <ul class="dashboard-pinned-project-footer">
                        <li class="border-right">
                            <div class="text-count">
                                17
                                %</div>
                            <div class="text-description text-muted">Complete</div>
                        </li>
                        <li class="border-right">
                            <div class="text-count">
                                1
                            </div>
                            <div class="text-description text-muted">My Tasks</div>
                        </li>
                        <li>
                            <div class="text-count">
                                459
                            </div>
                            <div class="text-description text-muted">Days Due</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="dashboard-pinned-project dashboard-pinned-project-3 url-link ">

                    <div class="dashboard-pinned-project-header x-header teal"> <span class="project-client-name"><i class="icon-user"></i>
                                            Microsoft Inc
                                        </span> <span class="project-title">
                                            Sony Phone Design Conecpts
                                        </span>  <span class="x-icon-contaner x-icon"><i class="icon-pushpin"></i></span></div>
                    <ul class="dashboard-pinned-project-footer">
                        <li class="border-right">
                            <div class="text-count">
                                0
                                %</div>
                            <div class="text-description text-muted">Complete</div>
                        </li>
                        <li class="border-right">
                            <div class="text-count">
                                1
                            </div>
                            <div class="text-description text-muted">My Tasks</div>
                        </li>
                        <li>
                            <div class="text-count">
                                -246
                            </div>
                            <div class="text-description text-muted">Days Due</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="dashboard-pinned-project dashboard-pinned-project-4 url-link ">

                    <div class="dashboard-pinned-project-header x-header green"> <span class="project-client-name"><i class="icon-user"></i>
                                            Microsoft Inc
                                        </span> <span class="project-title">
                                            Nokia Design Conecpts
                                        </span>  <span class="x-icon-contaner x-icon"><i class="icon-pushpin"></i></span></div>
                    <ul class="dashboard-pinned-project-footer">
                        <li class="border-right">
                            <div class="text-count">
                                33
                                %</div>
                            <div class="text-description text-muted">Complete</div>
                        </li>
                        <li class="border-right">
                            <div class="text-count">
                                1
                            </div>
                            <div class="text-description text-muted">My Tasks</div>
                        </li>
                        <li>
                            <div class="text-count">
                                459
                            </div>
                            <div class="text-description text-muted">Days Due</div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">


                <div class="panel panel-card recent-activites">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        My Projects - Events Timeline
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-sm-3 date left">
                                    <i class="fa fa-th-large"></i>
                                    6:00 am
                                    <br>
                                    <small class="text-navy">2 hour ago</small>
                                </div>
                                <div class="col-sm-9 content no-top-border ">
                                    <p class="m-b-xs"><strong>Meeting</strong></p>

                                    <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products.</p>

                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-sm-3 date left">
                                    <i class="fa fa-th-large"></i>
                                    6:00 am
                                    <br>
                                    <small class="text-navy">2 hour ago</small>
                                </div>
                                <div class="col-sm-9 content no-top-border ">
                                    <p class="m-b-xs"><strong>Meeting</strong></p>

                                    <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products.</p>

                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-sm-3 date left">
                                    <i class="fa fa-th-large"></i>
                                    6:00 am
                                    <br>
                                    <small class="text-navy">2 hour ago</small>
                                </div>
                                <div class="col-sm-9 content no-top-border ">
                                    <p class="m-b-xs"><strong>Meeting</strong></p>

                                    <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products.</p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End .panel -->


            </div>
            <div class="col-md-6">


                <div class="panel panel-card recent-activites">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        Latest Todo
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="margin-t-10">

                            <div class="black-text message-content">
                                <div>
                                    <small class="right teal-text">1m ago</small>
                                    <strong>Monica Smith</strong>
                                    <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</div>
                                    <small class="text-muted">Today 5:60 pm - 12.06.2014</small>

                                </div>
                            </div>
                            <div class="black-text message-content">
                                <div>
                                    <small class="right teal-text">1m ago</small>
                                    <strong>Monica Smith</strong>
                                    <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</div>
                                    <small class="text-muted">Today 5:60 pm - 12.06.2014</small>

                                </div>
                            </div>
                            <div class="black-text message-content">
                                <div>
                                    <small class="right teal-text">1m ago</small>
                                    <strong>Monica Smith</strong>
                                    <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</div>
                                    <small class="text-muted">Today 5:60 pm - 12.06.2014</small>

                                </div>
                            </div>


                        </div>

                    </div>
                </div><!-- End .panel -->


            </div>
        </div>





    </div>
    <div class="clearfix"></div>
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company © 2016
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->

