<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <div class="row">

                        <h4 class="pull-left">Dashboard</h4>


                        <ol class="breadcrumb pull-right">
                            <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                            <li>Dashboard</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div><!-- end .page title-->
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="panel panel-card recent-activites">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        Projects
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <i class="icon-layers widget-icon"></i>  <h1 class="right panel-middle margin-b-0">3,100</h1>
                    </div>
                </div><!-- End .panel -->



            </div>
            <div class="col-md-6 col-lg-3">
                <div class="panel panel-card recent-activites">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        All Users
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <i class="icon-user widget-icon"></i>  <h1 class="right panel-middle margin-b-0">6,782</h1>
                    </div>
                </div><!-- End .panel -->



            </div>

            <div class="col-md-6 col-lg-3">
                <div class="panel panel-card recent-activites">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        Total Todo
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <i class="icon-list widget-icon"></i>  <h1 class="right panel-middle margin-b-0">6,782</h1>
                    </div>
                </div><!-- End .panel -->



            </div>

            <div class="col-md-6 col-lg-3">
                <div class="panel panel-card recent-activites">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        Todo Completed
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <i class="icon-like widget-icon"></i>  <h1 class="right panel-middle margin-b-0">1,782</h1>
                    </div>
                </div><!-- End .panel -->



            </div>


        </div>

        <div class="row">
            <div class="col-md-7 col-lg-8 col-sm-12 col-xs-12">

                <div class="blog-news m-b-15">
                    <div class="vcarousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="overlaybg" style="background:url(assets/images/slide6.jpg) no-repeat center center /cover"></div>
                                <div class="news-content"><span class="label label-danger label-rounded">Primary</span>
                                    <h2>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h2>
                                    <a href="#">Read More</a></div>
                            </div>
                            <div class="item">
                                <div class="overlaybg" style="background:url(assets/images/slide6.jpg) no-repeat center center /cover"></div>
                                <div class="news-content"><span class="label label-primary label-rounded">Primary</span>
                                    <h2>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h2>
                                    <a href="#">Read More</a></div>
                            </div>
                            <div class="item">
                                <div class="overlaybg" style="background:url(assets/images/slide6.jpg) no-repeat center center /cover"></div>
                                <div class="news-content"><span class="label label-success label-rounded">Primary</span>
                                    <h2>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h2>
                                    <a href="#">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-5 col-lg-4 col-sm-6 col-xs-12">

                <div class="dashboard-pinned-project dashboard-pinned-project-1 url-link">

                    <div class="dashboard-pinned-project-header x-header"> <span class="project-client-name"><i class="icon-user"></i>
                                            Apple Inc
                                        </span> <span class="project-title">
                                            Iphone 8 Design Conecpts
                                        </span>
                        <span class="x-icon-contaner x-icon"><i class="icon-pushpin"></i></span>
                        <span id="sparkline3"></span>

                    </div>
                    <ul class="dashboard-pinned-project-footer">
                        <li class="border-right">
                            <div class="text-count">
                                44
                                %</div>
                            <div class="text-description text-muted">Complete</div>
                        </li>
                        <li class="border-right">
                            <div class="text-count">
                                3
                            </div>
                            <div class="text-description text-muted">My Tasks</div>
                        </li>
                        <li>
                            <div class="text-count">
                                459
                            </div>
                            <div class="text-description text-muted">Days Due</div>
                        </li>
                    </ul>
                </div>
                <div class="dashboard-pinned-project dashboard-pinned-project-1 url-link">

                    <div class="dashboard-pinned-project-header x-header orange"> <span class="project-client-name"><i class="icon-user"></i>
                                            Apple Inc
                                        </span> <span class="project-title">
                                            Iphone 8 Design Conecpts
                                        </span>
                        <span class="x-icon-contaner x-icon"><i class="icon-pushpin"></i></span>
                        <span id="sparkline4"></span>

                    </div>
                    <ul class="dashboard-pinned-project-footer">
                        <li class="border-right">
                            <div class="text-count">
                                44
                                %</div>
                            <div class="text-description text-muted">Complete</div>
                        </li>
                        <li class="border-right">
                            <div class="text-count">
                                3
                            </div>
                            <div class="text-description text-muted">My Tasks</div>
                        </li>
                        <li>
                            <div class="text-count">
                                459
                            </div>
                            <div class="text-description text-muted">Days Due</div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>



        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-card recent-activites">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        RECENT COMMENTS
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="comment">

                            <div class="black-text message-content">

                                <a href="javascript:;" class="user-img">
                                    <img alt="" class="img-circle img-responsive" src="assets/images/avtar-1.jpg">

                                </a>
                                <div class="comment-message">
                                    <small class="right teal-text">1m ago</small>
                                    <strong>Monica Smith</strong>
                                    <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</div>
                                    <small class="text-muted">Today 5:60 pm - 12.06.2014</small>
                                </div>



                            </div>
                            <div class="black-text message-content">

                                <a href="javascript:;" class="user-img">
                                    <img alt="" class="img-circle img-responsive" src="assets/images/avtar-1.jpg">

                                </a>
                                <div class="comment-message">
                                    <small class="right teal-text">1m ago</small>
                                    <strong>Monica Smith</strong>
                                    <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</div>
                                    <small class="text-muted">Today 5:60 pm - 12.06.2014</small>
                                </div>



                            </div>
                            <div class="black-text message-content">

                                <a href="javascript:;" class="user-img">
                                    <img alt="" class="img-circle img-responsive" src="assets/images/avtar-1.jpg">

                                </a>
                                <div class="comment-message">
                                    <small class="right teal-text">1m ago</small>
                                    <strong>Monica Smith</strong>
                                    <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</div>
                                    <small class="text-muted">Today 5:60 pm - 12.06.2014</small>
                                </div>



                            </div>


                        </div>
                    </div>
                </div><!-- End .panel -->
            </div>
            <div class="col-sm-6">
                <div class="panel panel-card recent-activites">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        All Projects
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <div id="morris-area-chart2" style="height: 340px;"></div>
                    </div>
                </div><!-- End .panel -->
            </div>

        </div>



        <div class="row">
            <div class="col-md-6">


                <div class="panel panel-card recent-activites">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        TO DO LIST
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">

                        <ul class="list-group list-todo">
                            <li class="list-group-item">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Lorem Ipsum is simply dummy text
                                        </label>
                                        <p class="help-block">Notify me about updates to apps or games that I've downloaded</p>
                                    </div>

                            </li>
                            <li class="list-group-item">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked>  <label for="task1" style="text-decoration: line-through;">Lorem Ipsum is simply dummy text </label>

                                        </label>
                                        <p class="help-block">Auto-update apps over wifi only</p>
                                    </div>

                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Lorem Ipsum is simply dummy text
                                        </label>
                                        <p class="help-block">Notify me about updates to apps or games that I've downloaded</p>
                                    </div>

                            </li>
                            <li class="list-group-item">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked>  <label for="task1" style="text-decoration: line-through;">Lorem Ipsum is simply dummy text </label>

                                        </label>
                                        <p class="help-block">Auto-update apps over wifi only</p>
                                    </div>

                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Lorem Ipsum is simply dummy text
                                        </label>
                                        <p class="help-block">Notify me about updates to apps or games that I've downloaded</p>
                                    </div>

                            </li>
                            <li class="list-group-item">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked>  <label for="task1" style="text-decoration: line-through;">Lorem Ipsum is simply dummy text </label>

                                        </label>
                                        <p class="help-block">Auto-update apps over wifi only</p>
                                    </div>

                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Lorem Ipsum is simply dummy text
                                        </label>
                                        <p class="help-block">Notify me about updates to apps or games that I've downloaded</p>
                                    </div>

                            </li>
                            <li class="list-group-item">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked>  <label for="task1" style="text-decoration: line-through;">Lorem Ipsum is simply dummy text </label>

                                        </label>
                                        <p class="help-block">Auto-update apps over wifi only</p>
                                    </div>

                                </div>
                            </li>
                            <li class="list-group-item add-to-input">
                                <input type="text" class="form-control" name="add_todo" id="add_todo" placeholder="Add new task here...">
                            </li>
                        </ul>

                    </div>
                </div><!-- End .panel -->


            </div>
            <div class="col-md-6">


                <div class="panel panel-card recent-activites">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        Latest Chat
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">

                        <!--Widget body-->
                        <div id="demo-chat-body" class="in ">
                            <div class="scrollerchat" style="height:600px">
                                <div class="pad-all">
                                    <ul class="list-unstyled media-block">
                                        <li class="mar-btm">
                                            <div class="media-left">
                                                <img src="assets/images/avatar1.png" class="img-circle img-sm" alt="Profile Picture">
                                            </div>
                                            <div class="media-body pad-hor">
                                                <div class="speech">
                                                    <p>Hello Lucy, how can I help you today ?</p>
                                                    <p class="speech-time">
                                                        <i class="fa fa-clock-o fa-fw"></i>09:23AM
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mar-btm">
                                            <div class="media-right">
                                                <img src="assets/images/avatar2.png" class="img-circle img-sm" alt="Profile Picture">
                                            </div>
                                            <div class="media-body pad-hor speech-right">
                                                <div class="speech">
                                                    <p>Hi, I want to buy a new shoes.</p>
                                                    <p class="speech-time">
                                                        <i class="fa fa-clock-o fa-fw"></i> 09:23AM
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mar-btm">
                                            <div class="media-left">
                                                <img src="assets/images/avatar1.png" class="img-circle img-sm" alt="Profile Picture">
                                            </div>
                                            <div class="media-body pad-hor">
                                                <div class="speech">

                                                    <p>Shipment is free. You\'ll get your shoes tomorrow!</p>
                                                    <p class="speech-time">
                                                        <i class="fa fa-clock-o fa-fw"></i> 09:25
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mar-btm">
                                            <div class="media-right">
                                                <img src="assets/images/avatar2.png" class="img-circle img-sm" alt="Profile Picture">
                                            </div>
                                            <div class="media-body pad-hor speech-right">
                                                <div class="speech">

                                                    <p>Wow, that\'s great!</p>
                                                    <p class="speech-time">
                                                        <i class="fa fa-clock-o fa-fw"></i> 09:27
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mar-btm">
                                            <div class="media-right">
                                                <img src="assets/images/avatar2.png" class="img-circle img-sm" alt="Profile Picture">
                                            </div>
                                            <div class="media-body pad-hor speech-right">
                                                <div class="speech">

                                                    <p>Ok. Thanks for the answer. Appreciated.</p>
                                                    <p class="speech-time">
                                                        <i class="fa fa-clock-o fa-fw"></i> 09:28
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mar-btm">
                                            <div class="media-left">
                                                <img src="assets/images/avatar1.png" class="img-circle img-sm" alt="Profile Picture">
                                            </div>
                                            <div class="media-body pad-hor">
                                                <div class="speech">

                                                    <p>You are welcome! <br> Is there anything else I can do for you today?</p>
                                                    <p class="speech-time">
                                                        <i class="fa fa-clock-o fa-fw"></i> 09:30
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mar-btm">
                                            <div class="media-right">
                                                <img src="assets/images/avatar2.png" class="img-circle img-sm" alt="Profile Picture">
                                            </div>
                                            <div class="media-body pad-hor speech-right">
                                                <div class="speech">

                                                    <p>Nope, That\'s it.</p>
                                                    <p class="speech-time">
                                                        <i class="fa fa-clock-o fa-fw"></i> 09:31
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mar-btm">
                                            <div class="media-left">
                                                <img src="assets/images/avatar1.png" class="img-circle img-sm" alt="Profile Picture">
                                            </div>
                                            <div class="media-body pad-hor">
                                                <div class="speech">

                                                    <p>Thank you for contacting us today</p>
                                                    <p class="speech-time">
                                                        <i class="fa fa-clock-o fa-fw"></i> 09:32
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>


                            </div>

                            <!--Widget footer-->
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <input type="text" placeholder="Enter your text" class="form-control chat-input">
                                    </div>
                                    <div class="col-xs-4">
                                        <button class="btn btn-primary btn-block" type="submit">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End .panel -->


            </div>
        </div>





    </div>
    <div class="clearfix"></div>
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company © 2016
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->

