<div id="wrapperInner">
    <div class="container">
        <div class="row">
            <div class="locksreen-col text-center">
                <img src="assets/images/avtar-1.jpg" class="img-circle" alt="">
                <h3><small>Logged In As</small>David Villa</h3>
                <form class="m-t" role="form" action="index.html">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="******" required="">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block full-width">Unlock</button>
                </form>
            </div>
        </div>
    </div>
</div>