<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title marginb0">
                    <div class="row">

                        <h4 class="pull-left">Dashboard</h4>


                        <ol class="breadcrumb pull-right">
                            <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                            <li>Dashboard</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div><!-- end .page title-->

        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="mail-side-bar">
                        <div class="text-center margin-b-30">
                            <a href="#" class="btn btn-primary btn-block">Compose</a>
                        </div>
                        <ul class="list-unstyled">
                            <li class="lables">Folders <i class="fa fa-refresh pull-right"></i></li>
                            <li><a href="#">Inbox <span>(1)</span></a></li>
                            <li><a href="#">Sent Mail</a></li>
                            <li><a href="#">Draft</a></li>
                            <li><a href="#">Archives</a></li>
                            <li><a href="#">Spam</a></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li class="lables">Categories <i class="fa fa-plus pull-right"></i></li>
                            <li><a href="#">Work</a></li>
                            <li><a href="#">Documents</a></li>
                            <li><a href="#">Social</a></li>
                            <li><a href="#">Advertisement</a></li>
                            <li><a href="#">Clients</a></li>
                        </ul>
                        <ul class="list-inline tags ">
                            <li class="lables">Tags</li>
                            <li><a href="#">Family</a></li>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Music</a></li>
                            <li><a href="#">Photography</a></li>
                            <li><a href="#">Fashion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-sm-6 mail-box-row-2">

                        <div style="margin-right:10px" class="btn-group pull-left">
                            <div class="form-group">
                                <div class="checkbox pull-left">
                                    <label>
                                        <input type="checkbox"> All
                                    </label>

                                </div>
                            </div>

                        </div>
                        <div class="checkbox pull-left">
                        <button style="margin-right:10px" type="button" data-color="#39B3D7" data-opacity="0.95" class="btn btn-sm btn-primary  button test pull-left bg-amber">
                            <span class="fa fa-trash"></span>&nbsp;&nbsp;Delete</button>
                        <button style="margin-right:10px" type="button" data-color="#39B3D7" data-opacity="0.95" class="btn btn-sm btn-primary  button test pull-left bg-amber">
                            <span class="fa fa-refresh"></span>&nbsp;&nbsp;Refresh</button>
                        </div>
                    </div>


                    <div class="col-sm-6 text-right">
                        <div class="checkbox pull-right">
                        <button type="button" class="btn btn-sm btn-primary  button test pull-right bg-amber m-r-10">
                            <span class="fa fa-angle-right"></span>
                        </button>
                        <button type="button" class="btn btn-sm btn-primary  button test pull-right bg-amber m-r-10">
                            <span class="fa fa-angle-left"></span>
                        </button>



                        <button type="button" class="btn btn-sm btn-primary  button test pull-right bg-amber m-r-10">1-50 of 124</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- THE MESSAGES -->
                    <table class="table table-mailbox">
                        <tbody><tr class="unread">
                            <td class="small-col">
                                <input type="checkbox">
                            </td>
                            <td class="small-col"><i class="fa fa-star"></i>
                            </td>
                            <td class="name">
                                <a href="#">
                                    <img alt="" class="img-circle star img-responsive" src="assets/images/avtar-1.jpg">
                                </a>
                            </td>
                            <td>New Paijo</td>
                            <td class="subject">
                                <p class="email-summary">
                                    <strong>Do You Know</strong> Iko Uwais, Justin Beiber on twitter? ...</p>
                            </td>
                            <td class="time text-right">Jan 8 at 07:10am</td>
                        </tr>

                        <tr class="unread">
                            <td class="small-col">
                                <input type="checkbox">
                            </td>
                            <td class="small-col"><i class="fa fa-star"></i>
                            </td>
                            <td class="name"> <a class="star" href=""><i class="fa fa-facebook"></i></a>
                            </td>
                            <td>Facebook</td>
                            <td class="subject">
                                <p class="email-summary">
                                    <strong>Meeting Reminder</strong> Ut enim ad minim veniam, quis nostrud exercitation...</p>
                            </td>
                            <td class="time text-right">Yesterday at 1:30am</td>
                        </tr>



                        <tr class="unread">
                            <td class="small-col">
                                <input type="checkbox">
                            </td>
                            <td class="small-col"><i class="fa fa-star"></i>
                            </td>
                            <td class="name">
                                <a href="#">
                                    <img alt="" class="img-circle star img-responsive" src="assets/images/avtar-1.jpg">
                                </a>
                            </td>
                            <td>Jhony Deep</td>
                            <td class="subject">
                                <p class="email-summary">
                                    <strong>Hi, matirasa</strong> how are u today?</p>
                            </td>
                            <td class="time text-right">Jan 11 at 7:32am</td>
                        </tr>

                        <tr class="unread">
                            <td class="small-col">
                                <input type="checkbox">
                            </td>
                            <td class="small-col"><i class="fa fa-star"></i>
                            </td>
                            <td class="name">
                                <a class="star" href="">
                                    <span class="fa fa-tumblr"></span>
                                </a>
                            </td>
                            <td>Tumblr</td>
                            <td class="subject">
                                <p class="email-summary">
                                    <strong>Follow</strong> more blogs and have more fun</p>
                            </td>
                            <td class="time text-right">Jan 11 at 9:54pm</td>
                        </tr>

                        <tr class="unread">
                            <td class="small-col">
                                <input type="checkbox">
                            </td>
                            <td class="small-col"><i class="fa fa-star"></i>
                            </td>
                            <td class="name">
                                <a class="star" href="">
                                    <span class="fa fa-paypal"></span>
                                </a>
                            </td>
                            <td>Paypal</td>
                            <td class="subject">
                                <p class="email-summary">
                                    We're transferring money from PayPal to your bank</p>
                            </td>
                            <td class="time text-right">Jan 11 at 9:54pm</td>
                        </tr>
                        <tr class="unread">
                            <td class="small-col">
                                <input type="checkbox">
                            </td>
                            <td class="small-col"><i class="fa fa-star"></i>
                            </td>
                            <td class="name">
                                <a class="star" href="">
                                    <span class="fa fa-user"></span>
                                </a>
                            </td>
                            <td>Jhony Deep</td>
                            <td class="subject">
                                <p class="email-summary">
                                    <strong>Hi, matirasa</strong> how are u today?</p>
                            </td>
                            <td class="time text-right">Jan 11 at 7:32am</td>
                        </tr>


                        <tr class="unread">
                            <td class="small-col">
                                <input type="checkbox">
                            </td>
                            <td class="small-col"><i class="fa fa-star"></i>
                            </td>
                            <td class="name">
                                <a class="star" href="">
                                    <span class="fa fa-behance"></span>
                                </a>
                            </td>
                            <td>Behance Support</td>
                            <td class="subject">
                                <p class="email-summary">
                                    <strong>Upgrade your membership</strong>, you may be eligible for a FREE Trial.</p>
                            </td>
                            <td class="time text-right">Jan 11 at 10:11pm</td>
                        </tr>

                        <tr class="unread">
                            <td class="small-col">
                                <input type="checkbox">
                            </td>
                            <td class="small-col"><i class="fa fa-star"></i>
                            </td>
                            <td class="name">
                                <a class="star" href="">
                                    <span class="fa fa-tumblr"></span>
                                </a>
                            </td>
                            <td>Tumblr</td>
                            <td class="subject">
                                <p class="email-summary">
                                    <strong>Follow</strong> more blogs and have more fun</p>
                            </td>
                            <td class="time text-right">Jan 11 at 9:54pm</td>
                        </tr>

                        <tr class="unread">
                            <td class="small-col">
                                <input type="checkbox">
                            </td>
                            <td class="small-col"><i class="fa fa-star"></i>
                            </td>
                            <td class="name">
                                <a class="star" href="">
                                    <span class="fa fa-paypal"></span>
                                </a>
                            </td>
                            <td>Paypal</td>
                            <td class="subject">
                                <p class="email-summary">
                                    We're transferring money from PayPal to your bank</p>
                            </td>
                            <td class="time text-right">Jan 11 at 9:54pm</td>
                        </tr>


                        <tr class="unread">
                            <td class="small-col">
                                <input type="checkbox">
                            </td>
                            <td class="small-col"><i class="fa fa-star"></i>
                            </td>
                            <td class="name">
                                <a class="star" href="">
                                    <span class="fa fa-dropbox"></span>
                                </a>
                            </td>
                            <td>Dropbox</td>
                            <td class="subject">
                                <strong>New Update</strong> Now are available, get it now!
                            </td>
                            <td class="time text-right">Jan 11 at 9:54pm</td>
                        </tr>

                        <!-- END OF THREE -->


                        </tbody></table>
                </div>
            </div>
        </div>


    </div>
    <div class="clearfix"></div>
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company © 2016
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->