<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <div class="row">

                        <h4 class="pull-left">Modals</h4>


                        <ol class="breadcrumb pull-right">
                            <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                            <li>Modals</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div><!-- end .page title-->

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-card margin-b-30">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        Bootstrap Modals
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="m-t-md">
                            A rendered modal with header, body, and set of actions in the footer.

                            Launch demo modal<br><br>

                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal"> Launch demo modal</button>

                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <h4 class="modal-title">Modal title</h4>
                                            <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                                        </div>
                                        <div class="modal-body">
                                            <h4 class="m-t-none">Lorem Ipsum is simply</h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <small class="stat-label">Today</small>
                                                    <h4 class="m-t-xs">170,20 <i class="fa fa-level-up text-accent"></i></h4>
                                                </div>
                                                <div class="col-md-4">
                                                    <small class="stat-label">Last month %</small>
                                                    <h4 class="m-t-xs">%20,20 <i class="fa fa-level-down c-white"></i></h4>
                                                </div>
                                                <div class="col-md-4">
                                                    <small class="stat-label">Last year</small>
                                                    <h4 class="m-t-xs">246,40 <i class="fa fa-level-up text-accent"></i></h4>
                                                </div>
                                            </div>
                                            <div class="progress m-t-xs full progress-small">
                                                <div style="width: 65%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="65" role="progressbar" class=" progress-bar progress-bar-warning">
                                                    <span class="sr-only">65% Complete (success)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-accent">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-card margin-b-30">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        Optional Modals
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="m-t-md">
                            <ul>
                                <li>Small Size</li>
                                <li>Large Size</li>
                            </ul>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal1">
                                Large Modal
                            </button>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal2">
                                Small Modal
                            </button>

                            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <h4 class="modal-title">Modal title</h4>
                                            <small>Lorem Ipsum is simply dummy text.</small>
                                        </div>
                                        <div class="modal-body">
                                            <p><strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                                printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                                remaining essentially unchanged.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-accent">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <h4 class="modal-title">Modal title</h4>
                                            <small>Lorem Ipsum is simply dummy text.</small>
                                        </div>
                                        <div class="modal-body">
                                            <p><strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                                printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                                remaining essentially unchanged.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-accent">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="clearfix"></div>
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company © 2016
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->

<script src="assets/plugins/select/fancySelect.js"></script>
<script src="assets/plugins/select/select2.js"></script>
<script src="assets/plugins/input-mask/jquery.inputmask.bundle.min.js"></script>
<script src="assets/plugins/slider/bootstrap-slider.min.js"></script>
<script src="assets/js/custom-advanced-form.js"></script>