
<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <div class="row">

                        <h4 class="pull-left">Order Detail</h4>


                        <ol class="breadcrumb pull-right">
                            <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                            <li>Order Detail</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div><!-- end .page title-->

        <div class="row">
            <div class="col-sm-12">

                <ul class="nav nav-tabs">
                    <li class="active"><a show-tab data-toggle="tab"  href="#tab-order" aria-expanded="true">Order Details</a></li>
                    <li class=""><a show-tab data-toggle="tab" href="#tab-payment" aria-expanded="false">Payment Details</a></li>
                    <li><a show-tab href="#tab-shipping" data-toggle="tab" aria-expanded="false">Shipping Details</a></li>
                    <li><a show-tab href="#tab-product" data-toggle="tab" aria-expanded="false">Products</a></li>
                    <li><a show-tab href="#tab-history" data-toggle="tab" aria-expanded="false">History</a></li>
                </ul>
                <div class="tab-content white-bg">
                    <div id="tab-order" class="tab-pane active">
                        <table class="table table-bordered">
                            <tr>
                                <td>Order ID:</td>
                                <td>#3135</td>
                            </tr>
                            <tr>
                                <td>Invoice No.:</td>
                                <td>                  <button id="button-invoice" class="btn btn-success btn-xs"><i class="fa fa-cog"></i> Generate</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Store Name:</td>
                                <td>Your Store</td>
                            </tr>
                            <tr>
                                <td>Store Url:</td>
                                <td><a href="#" target="_blank">http://abc.com/</a></td>
                            </tr>
                            <tr>
                                <td>Customer:</td>
                                <td>jokds slaksalk</td>
                            </tr>
                            <tr>
                                <td>Customer Group:</td>
                                <td>Default</td>
                            </tr>
                            <tr>
                                <td>E-Mail:</td>
                                <td><a href="mailto:sasa@dsdsd.com">sasa@dsdsd.com</a></td>
                            </tr>
                            <tr>
                                <td>Telephone:</td>
                                <td>dsds</td>
                            </tr>
                            <tr>
                                <td>Fax:</td>
                                <td>dfdfd</td>
                            </tr>
                            <tr>
                                <td>Total:</td>
                                <td>$130.00</td>
                            </tr>
                            <tr>
                                <td>Order Status:</td>
                                <td id="order-status">Pending</td>
                            </tr>
                            <tr>
                                <td>Comment:</td>
                                <td>fdff</td>
                            </tr>
                            <tr>
                                <td>IP Address:</td>
                                <td>187.192.120.54</td>
                            </tr>
                            <tr>
                                <td>Forwarded IP:</td>
                                <td>187.192.120.54</td>
                            </tr>
                            <tr>
                                <td>User Agent:</td>
                                <td>Mozilla/5.0 (Windows NT 10.0; WOW64; rv:48.0) Gecko/20100101 Firefox/48.0</td>
                            </tr>
                            <tr>
                                <td>Accept Language:</td>
                                <td>es-MX,es-ES;q=0.9,es;q=0.7,es-AR;q=0.6,es-CL;q=0.4,en-US;q=0.3,en;q=0.1</td>
                            </tr>
                            <tr>
                                <td>Date Added:</td>
                                <td>26/09/2016</td>
                            </tr>
                            <tr>
                                <td>Date Modified:</td>
                                <td>26/09/2016</td>
                            </tr>
                        </table>
                    </div>
                    <div id="tab-payment" class="tab-pane">
                        <table class="table table-bordered">
                            <tr>
                                <td>First Name:</td>
                                <td>jokds</td>
                            </tr>
                            <tr>
                                <td>Last Name:</td>
                                <td>slaksalk</td>
                            </tr>
                            <tr>
                                <td>Company:</td>
                                <td>fdf</td>
                            </tr>
                            <tr>
                                <td>Address 1:</td>
                                <td>fdf</td>
                            </tr>
                            <tr>
                                <td>Address 2:</td>
                                <td>fdf</td>
                            </tr>
                            <tr>
                                <td>City:</td>
                                <td>fdfdfd</td>
                            </tr>
                            <tr>
                                <td>Postcode:</td>
                                <td>451213</td>
                            </tr>
                            <tr>
                                <td>Region / State:</td>
                                <td>Ceredigion</td>
                            </tr>
                            <tr>
                                <td>Region / State Code:</td>
                                <td>CDGN</td>
                            </tr>
                            <tr>
                                <td>Country:</td>
                                <td>United Kingdom</td>
                            </tr>
                            <tr>
                                <td>Payment Method:</td>
                                <td>Cash On Delivery</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane" id="tab-shipping">
                        <table class="table table-bordered">
                            <tr>
                                <td>First Name:</td>
                                <td>jokds</td>
                            </tr>
                            <tr>
                                <td>Last Name:</td>
                                <td>slaksalk</td>
                            </tr>
                            <tr>
                                <td>Company:</td>
                                <td>fdf</td>
                            </tr>
                            <tr>
                                <td>Address 1:</td>
                                <td>fdf</td>
                            </tr>
                            <tr>
                                <td>Address 2:</td>
                                <td>fdf</td>
                            </tr>
                            <tr>
                                <td>City:</td>
                                <td>fdfdfd</td>
                            </tr>
                            <tr>
                                <td>Postcode:</td>
                                <td>451213</td>
                            </tr>
                            <tr>
                                <td>Region / State:</td>
                                <td>Ceredigion</td>
                            </tr>
                            <tr>
                                <td>Region / State Code:</td>
                                <td>CDGN</td>
                            </tr>
                            <tr>
                                <td>Country:</td>
                                <td>United Kingdom</td>
                            </tr>
                            <tr>
                                <td>Shipping Method:</td>
                                <td>Flat Shipping Rate</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane" id="tab-product">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td class="text-left">Product</td>
                                <td class="text-left">Model</td>
                                <td class="text-right">Quantity</td>
                                <td class="text-right">Unit Price</td>
                                <td class="text-right">Total</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-left"><a href="">HP LP3065</a>
                                    <br />
                                    &nbsp;<small> - Delivery Date: 2011-04-22</small>
                                </td>
                                <td class="text-left">Product 21</td>
                                <td class="text-right">1</td>
                                <td class="text-right">$122.00</td>
                                <td class="text-right">$122.00</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-right">Sub-Total:</td>
                                <td class="text-right">$100.00</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-right">Flat Shipping Rate:</td>
                                <td class="text-right">$5.00</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-right">Eco Tax (-2.00):</td>
                                <td class="text-right">$4.00</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-right">VAT (20%):</td>
                                <td class="text-right">$21.00</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-right">Total:</td>
                                <td class="text-right">$130.00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="tab-history">
                        <table class="table table-bordered"><tbody>
                        <tr>
                            <td>
                                <div id="history"><table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <td class="text-left">Date Added</td>
                                        <td class="text-left">Comment</td>
                                        <td class="text-left">Status</td>
                                        <td class="text-left">Customer Notified</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-left">26/09/2016</td>
                                        <td class="text-left"></td>
                                        <td class="text-left">Pending</td>
                                        <td class="text-left">No</td>
                                    </tr>
                                    </tbody>
                                </table></div>
                                <br />
                                <fieldset>
                                    <legend>Add Order History</legend>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-order-status">Order Status</label>
                                            <div class="col-sm-10">
                                                <select name="order_status_id" id="input-order-status" class="form-control">
                                                    <option value="7">Canceled</option>
                                                    <option value="9">Canceled Reversal</option>
                                                    <option value="13">Chargeback</option>
                                                    <option value="5">Complete</option>
                                                    <option value="8">Denied</option>
                                                    <option value="14">Expired</option>
                                                    <option value="10">Failed</option>
                                                    <option value="1" selected="selected">Pending</option>
                                                    <option value="15">Processed</option>
                                                    <option value="2">Processing</option>
                                                    <option value="11">Refunded</option>
                                                    <option value="12">Reversed</option>
                                                    <option value="3">Shipped</option>
                                                    <option value="16">Voided</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-notify">Notify Customer</label>
                                            <div class="col-sm-10">
                                                <input type="checkbox" name="notify" value="1" id="input-notify" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-comment">Comment</label>
                                            <div class="col-sm-10">
                                                <textarea name="comment" rows="8" id="input-comment" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="text-right">
                                        <button id="button-history" data-loading-text="Loading..." class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add History</button>
                                    </div>
                                </fieldset>
                            </td>
                        </tr>
                        </tbody></table>

                    </div>
                </div>



            </div>
        </div>


        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company © 2016
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->