
<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <div class="row">

                        <h4 class="pull-left">Order Invoice</h4>


                        <ol class="breadcrumb pull-right">
                            <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                            <li>Order Invoice</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div><!-- end .page title-->

        <div class="row">
            <div class="col-sm-12">

                <div class="well">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td colspan="2">Order Details</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="width: 50%;"><address>
                                <strong>Your Store</strong><br>
                                Address 1 </address>
                                <b>Telephone:</b> 123456789<br>
                                <b>E-Mail:</b> demo@demo.com<br>
                                <b>Web Site:</b> <a href="#">http://abc.com</a></td>
                            <td style="width: 50%;"><b>Date Added:</b> 26/09/2016<br>
                                <b>Order ID:</b> 3135<br>
                                <b>Payment Method:</b> Cash On Delivery<br>
                                <b>Shipping Method:</b> Flat Shipping Rate<br>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td style="width: 50%;"><b>To</b></td>
                            <td style="width: 50%;"><b>Ship To (if different address)</b></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><address>
                                jokds slaksalk<br>fdf<br>fdf<br>fdf<br>fdfdfd 451213<br>Ceredigion<br>United Kingdom </address></td>
                            <td><address>
                                jokds slaksalk<br>fdf<br>fdf<br>fdf<br>fdfdfd 451213<br>Ceredigion<br>United Kingdom </address></td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td><b>Product</b></td>
                            <td><b>Model</b></td>
                            <td class="text-right"><b>Quantity</b></td>
                            <td class="text-right"><b>Unit Price</b></td>
                            <td class="text-right"><b>Total</b></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>HP LP3065 <br>
                                &nbsp;<small> - Delivery Date: 2011-04-22</small>
                            </td>
                            <td>Product 21</td>
                            <td class="text-right">1</td>
                            <td class="text-right">$122.00</td>
                            <td class="text-right">$122.00</td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="4"><b>Sub-Total</b></td>
                            <td class="text-right">$100.00</td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="4"><b>Flat Shipping Rate</b></td>
                            <td class="text-right">$5.00</td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="4"><b>Eco Tax (-2.00)</b></td>
                            <td class="text-right">$4.00</td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="4"><b>VAT (20%)</b></td>
                            <td class="text-right">$21.00</td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="4"><b>Total</b></td>
                            <td class="text-right">$130.00</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td><b>Comment</b></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>fdff</td>
                        </tr>
                        </tbody>
                    </table>
                </div>



            </div>
        </div>


        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company © 2016
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->