<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Price Tables</h4>
                        </div>
                        <div class="col-sm-6 text-right">
                            <ol class="breadcrumb">
                                <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                                <li>Price Tables</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end .page title-->



        <div class="row">
            <div class="col-sm-3 margin-b-30">
                <div class="price-box">
                    <h3>basic </h3>
                    <h4><sup>$</sup>9.99<span>Per Month</span></h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-tags"></i> At verso perso</li>
                        <li><i class="fa fa-cogs"></i> Basic support</li>
                        <li><i class="fa fa-heart"></i> accumbad nurso turso</li>
                        <li><i class="fa fa-star"></i> consuct elit amet</li>
                        <li><i class="fa fa-shopping-cart"></i> nota idlia aremd</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                    </p>
                    <a href="#" class="btn btn-primary">Sign up <i class="fa fa-angle-right"></i></a>
                </div>
            </div><!--col-->
            <div class="col-sm-3 margin-b-30">
                <div class="price-box popular">
                    <h3>Pro </h3>
                    <h4><sup>$</sup>29.99<span>Per Month</span></h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-tags"></i> At verso perso</li>
                        <li><i class="fa fa-cogs"></i> Basic support</li>
                        <li><i class="fa fa-heart"></i> accumbad nurso turso</li>
                        <li><i class="fa fa-star"></i> consuct elit amet</li>
                        <li><i class="fa fa-shopping-cart"></i> nota idlia aremd</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                    </p>
                    <a href="#" class="btn btn-primary">Sign up <i class="fa fa-angle-right"></i></a>
                </div>
            </div><!--col-->
            <div class="col-sm-3 margin-b-30">
                <div class="price-box">
                    <h3>High </h3>
                    <h4><sup>$</sup>49.99<span>Per Month</span></h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-tags"></i> At verso perso</li>
                        <li><i class="fa fa-cogs"></i> Basic support</li>
                        <li><i class="fa fa-heart"></i> accumbad nurso turso</li>
                        <li><i class="fa fa-star"></i> consuct elit amet</li>
                        <li><i class="fa fa-shopping-cart"></i> nota idlia aremd</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                    </p>
                    <a href="#" class="btn btn-primary">Sign up <i class="fa fa-angle-right"></i></a>
                </div>
            </div><!--col-->
            <div class="col-sm-3 margin-b-30">
                <div class="price-box">
                    <h3>Ultimate </h3>
                    <h4><sup>$</sup>99.99<span>Per Month</span></h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-tags"></i> At verso perso</li>
                        <li><i class="fa fa-cogs"></i> Basic support</li>
                        <li><i class="fa fa-heart"></i> accumbad nurso turso</li>
                        <li><i class="fa fa-star"></i> consuct elit amet</li>
                        <li><i class="fa fa-shopping-cart"></i> nota idlia aremd</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                    </p>
                    <a href="#" class="btn btn-primary">Sign up <i class="fa fa-angle-right"></i></a>
                </div>
            </div><!--col-->
        </div>

        <div class="row">
            <div class="col-sm-3 margin-b-30">
                <div class="price-box dark">
                    <h3>basic </h3>
                    <h4><sup>$</sup>9.99<span>Per Month</span></h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-tags"></i> At verso perso</li>
                        <li><i class="fa fa-cogs"></i> Basic support</li>
                        <li><i class="fa fa-heart"></i> accumbad nurso turso</li>
                        <li><i class="fa fa-star"></i> consuct elit amet</li>
                        <li><i class="fa fa-shopping-cart"></i> nota idlia aremd</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                    </p>
                    <a href="#" class="btn btn-primary">Sign up <i class="fa fa-angle-right"></i></a>
                </div>
            </div><!--col-->
            <div class="col-sm-3 margin-b-30">
                <div class="price-box popular dark">
                    <h3>Pro </h3>
                    <h4><sup>$</sup>29.99<span>Per Month</span></h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-tags"></i> At verso perso</li>
                        <li><i class="fa fa-cogs"></i> Basic support</li>
                        <li><i class="fa fa-heart"></i> accumbad nurso turso</li>
                        <li><i class="fa fa-star"></i> consuct elit amet</li>
                        <li><i class="fa fa-shopping-cart"></i> nota idlia aremd</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                    </p>
                    <a href="#" class="btn btn-primary">Sign up <i class="fa fa-angle-right"></i></a>
                </div>
            </div><!--col-->
            <div class="col-sm-3 margin-b-30">
                <div class="price-box dark">
                    <h3>High </h3>
                    <h4><sup>$</sup>49.99<span>Per Month</span></h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-tags"></i> At verso perso</li>
                        <li><i class="fa fa-cogs"></i> Basic support</li>
                        <li><i class="fa fa-heart"></i> accumbad nurso turso</li>
                        <li><i class="fa fa-star"></i> consuct elit amet</li>
                        <li><i class="fa fa-shopping-cart"></i> nota idlia aremd</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                    </p>
                    <a href="#" class="btn btn-primary">Sign up <i class="fa fa-angle-right"></i></a>
                </div>
            </div><!--col-->
            <div class="col-sm-3 margin-b-30">
                <div class="price-box dark">
                    <h3>Ultimate </h3>
                    <h4><sup>$</sup>99.99<span>Per Month</span></h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-tags"></i> At verso perso</li>
                        <li><i class="fa fa-cogs"></i> Basic support</li>
                        <li><i class="fa fa-heart"></i> accumbad nurso turso</li>
                        <li><i class="fa fa-star"></i> consuct elit amet</li>
                        <li><i class="fa fa-shopping-cart"></i> nota idlia aremd</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                    </p>
                    <a href="#" class="btn btn-primary">Sign up <i class="fa fa-angle-right"></i></a>
                </div>
            </div><!--col-->
        </div>





    </div>
    <div class="clearfix"></div>
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company © 2016
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->