<link href="assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet">

<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <div class="row">

                        <h4 class="pull-left">Sliders</h4>


                        <ol class="breadcrumb pull-right">
                            <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                            <li>Sliders</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div><!-- end .page title-->

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-card">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        Sliders
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="owl-demo" class="owl-carousel">

                            <div class="item"><img src="assets/images/fullimage1.jpg" alt="The Last of us"></div>
                            <div class="item"><img src="assets/images/fullimage2.jpg" alt="GTA V"></div>
                            <div class="item"><img src="assets/images/fullimage3.jpg" alt="Mirror Edge"></div>

                        </div>

                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-card">
                    <!-- Start .panel -->

                    <div class="panel-body">

                        <div id="owl-demo-2" class="owl-carousel">

                            <div class="item"><div class="widget-box clearfix p3-bg">
                                <div>
                                    <div class="pad-all">
                                        <h2> HDD Usage</h2><br>
                                        <p class="mar-no">
                                            <span class="pull-right text-bold">132Gb</span>
                                            Free Space
                                        </p>
                                        <p class="mar-no">
                                            <span class="pull-right text-bold">1,45Gb</span>
                                            Used space
                                        </p>
                                    </div>
                                    <div class="pad-all text-center">
                                        <!--Placeholder--><br>
                                        <h4>User Performance</h4>
                                        <h2>17,50</h2>
                                    </div>

                                </div>
                            </div></div>
                            <div class="item"><div class="widget-box clearfix p2-bg">
                                <div>
                                    <div class="pad-all">
                                        <h2> HDD Usage</h2><br>
                                        <p class="mar-no">
                                            <span class="pull-right text-bold">132Gb</span>
                                            Free Space
                                        </p>
                                        <p class="mar-no">
                                            <span class="pull-right text-bold">1,45Gb</span>
                                            Used space
                                        </p>
                                    </div>
                                    <div class="pad-all text-center">
                                        <!--Placeholder--><br>
                                        <h4>User Activity</h4>
                                        <h2>17,50</h2>
                                    </div>

                                </div>
                            </div></div>
                            <div class="item"><div class="widget-box clearfix p4-bg">
                                <div>
                                    <div class="pad-all">
                                        <h2> HDD Usage</h2><br>
                                        <p class="mar-no">
                                            <span class="pull-right text-bold">132Gb</span>
                                            Free Space
                                        </p>
                                        <p class="mar-no">
                                            <span class="pull-right text-bold">1,45Gb</span>
                                            Used space
                                        </p>
                                    </div>
                                    <div class="pad-all text-center">
                                        <!--Placeholder--><br>
                                        <h4>Monthaly Income</h4>
                                        <h2>17,50</h2>
                                    </div>

                                </div>
                            </div></div>

                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="panel panel-card">
                    <!-- Start .panel -->

                    <div class="panel-body">


                        <div id="owl-demo-3" class="owl-carousel">

                            <div class="item"><img src="assets/images/fullimage4.jpg" alt="The Last of us"></div>
                            <div class="item"><img src="assets/images/fullimage5.jpg" alt="GTA V"></div>
                            <div class="item"><img src="assets/images/fullimage6.jpg" alt="Mirror Edge"></div>

                        </div>

                    </div>
                </div>
            </div>

        </div>



    </div>
    <div class="clearfix"></div>
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company © 2016
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->

<script src="assets/plugins/owl-carousel/owl.carousel.js"></script>
<script src="assets/js/sliders.js"></script>