<link href="assets/plugins/tablesaw/tablesaw.css" rel="stylesheet">

<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <div class="row">

                        <h4 class="pull-left">Responsive Tables </h4>


                        <ol class="breadcrumb pull-right">
                            <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                            <li>Responsive Tables </li>
                        </ol>

                    </div>
                </div>
            </div>
        </div><!-- end .page title-->
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-card recent-activites">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        Responsive Tables
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="tablesaw" data-tablesaw-sortable data-tablesaw-sortable-switch>
                            <thead>
                            <tr>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Movie Title</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Rank</th>
                                <th id="custom-sort" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Year</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1"><abbr title="Rotten Tomato Rating">Rating</abbr></th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Gross</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Avatar_(2009_film)">Avatar</a></td>
                                <td>1</td>
                                <td>11/2009</td>
                                <td>83%</td>
                                <td>$2.7B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Titanic_(1997_film)">Titanic</a></td>
                                <td>2</td>
                                <td>12/1997</td>
                                <td>88%</td>
                                <td>$2.1B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/The_Avengers_(2012_film)">The Avengers</a></td>
                                <td>3</td>
                                <td>3/2012</td>
                                <td>92%</td>
                                <td>$1.5B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Harry_Potter_and_the_Deathly_Hallows_%E2%80%93_Part_2">Harry Potter and the Deathly Hallows-Part 2</a></td>
                                <td>4</td>
                                <td>5/2011</td>
                                <td>96%</td>
                                <td>$1.3B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Frozen_(2013_film)">Frozen</a></td>
                                <td>5</td>
                                <td>9/2013</td>
                                <td>89%</td>
                                <td>$1.2B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Iron_Man_3">Iron Man 3</a></td>
                                <td>6</td>
                                <td>1/2013</td>
                                <td>78%</td>
                                <td>$1.2B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Transformers:_Dark_of_the_Moon">Transformers: Dark of the Moon</a></td>
                                <td>7</td>
                                <td>3/2011</td>
                                <td>36%</td>
                                <td>$1.1B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/The_Lord_of_the_Rings:_The_Return_of_the_King">The Lord of the Rings: The Return of the King</a></td>
                                <td>8</td>
                                <td>4/2003</td>
                                <td>95%</td>
                                <td>$1.1B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Skyfall">Skyfall</a></td>
                                <td>9</td>
                                <td>11/2012</td>
                                <td>92%</td>
                                <td>$1.1B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Transformers:_Age_of_Extinction">Transformers: Age of Extinction</a></td>
                                <td>10</td>
                                <td>12/2014</td>
                                <td>18%</td>
                                <td>$1.0B</td>
                            </tr>
                            </tbody>
                        </table>





                    </div>
                </div><!-- End .panel -->


            </div>

        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-card recent-activites">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        Column Toggle Table
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="tablesaw" data-tablesaw-mode="columntoggle">
                            <thead>
                            <tr>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Movie Title</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Rank</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Year</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1"><abbr title="Rotten Tomato Rating">Rating</abbr></th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Gross</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Avatar_(2009_film)">Avatar</a></td>
                                <td>1</td>
                                <td>2009</td>
                                <td>83%</td>
                                <td>$2.7B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Titanic_(1997_film)">Titanic</a></td>
                                <td>2</td>
                                <td>1997</td>
                                <td>88%</td>
                                <td>$2.1B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/The_Avengers_(2012_film)">The Avengers</a></td>
                                <td>3</td>
                                <td>2012</td>
                                <td>92%</td>
                                <td>$1.5B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Harry_Potter_and_the_Deathly_Hallows_%E2%80%93_Part_2">Harry Potter and the Deathly Hallows-Part 2</a></td>
                                <td>4</td>
                                <td>2011</td>
                                <td>96%</td>
                                <td>$1.3B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Frozen_(2013_film)">Frozen</a></td>
                                <td>5</td>
                                <td>2013</td>
                                <td>89%</td>
                                <td>$1.2B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Iron_Man_3">Iron Man 3</a></td>
                                <td>6</td>
                                <td>2013</td>
                                <td>78%</td>
                                <td>$1.2B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Transformers:_Dark_of_the_Moon">Transformers: Dark of the Moon</a></td>
                                <td>7</td>
                                <td>2011</td>
                                <td>36%</td>
                                <td>$1.1B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/The_Lord_of_the_Rings:_The_Return_of_the_King">The Lord of the Rings: The Return of the King</a></td>
                                <td>8</td>
                                <td>2003</td>
                                <td>95%</td>
                                <td>$1.1B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Skyfall">Skyfall</a></td>
                                <td>9</td>
                                <td>2012</td>
                                <td>92%</td>
                                <td>$1.1B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Transformers:_Age_of_Extinction">Transformers: Age of Extinction</a></td>
                                <td>10</td>
                                <td>2014</td>
                                <td>18%</td>
                                <td>$1.0B</td>
                            </tr>
                            </tbody>
                        </table>






                    </div>
                </div><!-- End .panel -->


            </div>

        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-card recent-activites">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        Mode Switch Table
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="tablesaw" data-tablesaw-mode="swipe" data-tablesaw-mode-switch data-tablesaw-minimap>
                            <thead>
                            <tr>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Movie Title</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Rank</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Year</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1"><abbr title="Rotten Tomato Rating">Rating</abbr></th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Gross</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Avatar_(2009_film)">Avatar</a></td>
                                <td>1</td>
                                <td>2009</td>
                                <td>83%</td>
                                <td>$2.7B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Titanic_(1997_film)">Titanic</a></td>
                                <td>2</td>
                                <td>1997</td>
                                <td>88%</td>
                                <td>$2.1B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/The_Avengers_(2012_film)">The Avengers</a></td>
                                <td>3</td>
                                <td>2012</td>
                                <td>92%</td>
                                <td>$1.5B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Harry_Potter_and_the_Deathly_Hallows_%E2%80%93_Part_2">Harry Potter and the Deathly Hallows-Part 2</a></td>
                                <td>4</td>
                                <td>2011</td>
                                <td>96%</td>
                                <td>$1.3B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Frozen_(2013_film)">Frozen</a></td>
                                <td>5</td>
                                <td>2013</td>
                                <td>89%</td>
                                <td>$1.2B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Iron_Man_3">Iron Man 3</a></td>
                                <td>6</td>
                                <td>2013</td>
                                <td>78%</td>
                                <td>$1.2B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Transformers:_Dark_of_the_Moon">Transformers: Dark of the Moon</a></td>
                                <td>7</td>
                                <td>2011</td>
                                <td>36%</td>
                                <td>$1.1B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/The_Lord_of_the_Rings:_The_Return_of_the_King">The Lord of the Rings: The Return of the King</a></td>
                                <td>8</td>
                                <td>2003</td>
                                <td>95%</td>
                                <td>$1.1B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Skyfall">Skyfall</a></td>
                                <td>9</td>
                                <td>2012</td>
                                <td>92%</td>
                                <td>$1.1B</td>
                            </tr>
                            <tr>
                                <td class="title"><a href="http://en.wikipedia.org/wiki/Transformers:_Age_of_Extinction">Transformers: Age of Extinction</a></td>
                                <td>10</td>
                                <td>2014</td>
                                <td>18%</td>
                                <td>$1.0B</td>
                            </tr>
                            </tbody>
                        </table>







                    </div>
                </div><!-- End .panel -->


            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company © 2016
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->
<script src="assets/plugins/data-tables/jquery.dataTables.js"></script>
<script src="assets/plugins/data-tables/dataTables.tableTools.js"></script>
<script src="assets/plugins/data-tables/dataTables.bootstrap.js"></script>
<script src="assets/plugins/data-tables/dataTables.responsive.js"></script>
<script src="assets/plugins/data-tables/tables-data.js"></script>
<script src="assets/plugins/tablesaw/tablesaw.js"></script>
<script src="assets/plugins/tablesaw/tablesaw-init.js"></script>
<script src="assets/js/tablesaw-custom.js"></script>