<link rel="stylesheet" href="assets/plugins/toastr/toastr.min.css"/>

<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <div class="row">

                        <h4 class="pull-left">Toastr Alert</h4>


                        <ol class="breadcrumb pull-right">
                            <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                            <li>Toastr Alert</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div><!-- end .page title-->

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-card">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        Toastr Alert
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button dropdown-toggle type="button" class="btn btn-info btn-rounded btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu panel-dropdown" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="text-center float-e-margins">
                            <p>toastr is a Javascript library for Gnome / Growl type non-blocking notifications. jQuery is required. The goal is to create a simple core library that can be customized and extended</p>
                            <div class="m c-white">Use toastr to display a toast for info, success, warning or error</div>
                            <button class="homerDemo3 btn btn-warning">Warning</button>
                            <button class="homerDemo1 btn btn-info">Info</button>
                            <button class="homerDemo2 btn btn-success">Success</button>
                            <button class="homerDemo4 btn btn-danger">Error</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
    <div class="clearfix"></div>
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company © 2016
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->
<script src="assets/plugins/toastr/toastr.min.js"></script>
<script src="assets/js/t-alert.js"></script>
