<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
<div class="content-wrapper container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title">
                <h1>Tooltip<small></small> </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="active">Tooltip</li>
                </ol>
            </div>
        </div>
    </div><!-- end .page title-->
    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-card margin-b-30">
                <!-- Start .panel -->

                <div class="panel-body" id="demos">
                    <ul>
                        <li>
                            <span  title="Hi! I am a tooltip." data-toggle="tooltip">Hover</span> Example 1
                        </li>

                        <li><div class="mytooltip tooltip-effect-2"><span class="tooltip-item">Hover</span> Example 2


                            <div class="tooltip-content clearfix">

                                <div class="tooltip-text">Also known as Euclid of andria, was a Greek mathematician, often referred.</div>
                            </div>
                        </div> </li>


                        <li>
                            <span id="demo-default" title="Hi! I am a tooltip.">Hover</span> Default settings
                        </li>
                        <li id="test">
                            <span id="demo-events" title="Press any key on your keyboard or click anywhere in the page to close me">Click</span> Custom open/close triggers
                        </li>

                        <li>
                            <span id="demo-touch">Click</span> Mouse, touch & hybrid devices
                        </li>
                        <li>
                            <span id="demo-theme" title="Build custom themes and CSS powered animations!">Hover</span> Custom themes &amp; animations
                        </li>

                        <li>
                            <span id="demo-interact" title="Try clicking &lt;a href='http://google.com/' target='_blank'&gt;this link&lt;/a&gt;">Hover</span> Interaction with tooltips
                        </li>

                        <li>
                            <span id="demo-multiple">Hover</span> Multiple tooltips on a single element
                        </li>
                        <li id="demo-complex-li">
                            <span id="demo-complex-placeholder"></span>
                            <span id="demo-complex" title="I also stick to fixed-positioned, moving and resizing elements. Try scrolling!">Click</span> Position tracking system
                        </li>



                    </ul>

                </div>
            </div>
        </div>



    </div>

</div>
<div class="clearfix"></div>
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company © 2016
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->