<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <div class="row">

                        <h4 class="pull-left">Tree View</h4>


                        <ol class="breadcrumb pull-right">
                            <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                            <li>Tree View</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div><!-- end .page title-->

        <div class="row">
            <div class="col-sm-4">
                <h2>Default</h2>
                <div id="treeview1" class=""></div>
            </div>
            <div class="col-sm-4">
                <h2>Collapsed</h2>
                <div id="treeview2" class=""></div>
            </div>
            <div class="col-sm-4">
                <h2>Expanded</h2>
                <div id="treeview3" class=""></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h2>Blue Theme</h2>
                <div id="treeview4" class=""></div>
            </div>
            <div class="col-sm-4">
                <h2>Custom Icons</h2>
                <div id="treeview5" class=""></div>
            </div>
            <div class="col-sm-4">
                <h2>Tags as Badges</h2>
                <div id="treeview6" class=""></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h2>No Border</h2>
                <div id="treeview7" class=""></div>
            </div>
            <div class="col-sm-4">
                <h2>Colourful</h2>
                <div id="treeview8" class=""></div>
            </div>
            <div class="col-sm-4">
                <h2>Node Overrides</h2>
                <div id="treeview9" class=""></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h2>Link enabled, or</h2>
                <div id="treeview10" class=""></div>
            </div>
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">

            </div>
        </div>



    </div>
    <div class="clearfix"></div>
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company © 2016
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->

<script src="assets/plugins/bootstrap/bootstrap-treeview.js"></script>
<script type="text/javascript" src="assets/js/tree-view.js"></script>