<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="pull-left">Dashboard</h4>

                            <ol class="breadcrumb pull-right">
                                <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                                <li>Typography</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end .page title-->



        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-card margin-b-30">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title"> Headings</h4>

                    </div>
                    <div class="panel-body">
                        <h1>H1 Heading</h1>
                        <h2>H2 Heading</h2>
                        <h3>H3 Heading</h3>
                        <h4>H4 Heading</h4>
                        <h5>H5 Heading</h5>
                        <h6>H6 Heading</h6>
                    </div>
                </div>
            </div><!--col-->
            <div class="col-md-6">
                <div class="panel panel-card margin-b-30">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title"> Paragraphs</h4>

                    </div>
                    <div class="panel-body">
                        <p class="lead">Lorem ipsum dolor sit amet</p>
                        <p>Lorem ipsum dolor sit amet</p>
                        <p class="text-danger">Lorem ipsum dolor sit amet</p>
                        <p class="text-success">Lorem ipsum dolor sit amet</p>
                        <p class="text-muted">Lorem ipsum dolor sit amet</p>
                        <p class="text-info">Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </div><!--col-->
        </div><!--row-->
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-card margin-b-30">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title"> Unordered list</h4>

                    </div>
                    <div class="panel-body">
                        <ul class="stylish-lists">
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Nulla aliquam velit
                                <ul>
                                    <li>Phasellus iaculis</li>
                                    <li>Ac tristique libero</li>
                                </ul>
                            </li>
                            <li>Faucibus porta lacus</li>
                            <li>Eget porttitor</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-card margin-b-30">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title"> Ordered list</h4>

                    </div>
                    <div class="panel-body">
                        <ol class="stylish-lists">
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Nulla aliquam velit</li>
                            <li>Phasellus iaculis</li>
                            <li>Ac tristique libero</li>
                            <li>Faucibus porta lacus</li>
                            <li>Eget porttitor</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-card margin-b-30">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title"> Alignment classes</h4>

                    </div>
                    <div class="panel-body">
                        <p class="text-left">Left align text</p>
                        <p class="text-center">Center align text</p>
                        <p class="text-right">Right align text</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-card margin-b-30">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title"> Address</h4>

                    </div>
                    <div class="panel-body">
                        <address class="no-margin">
                            <strong>Lorem, Inc.</strong><br>
                            111 Broad way, Suite 1900<br>
                            Garabandha, KT 989890<br>
                            <abbr title="Phone">Ph:</abbr> (321) 654-9870
                        </address>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="clearfix"></div>
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company © 2016
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->