<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <div class="row">

                        <h4 class="pull-left">Users List </h4>


                        <ol class="breadcrumb pull-right">
                            <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                            <li>Users List  </li>
                        </ol>

                    </div>
                </div>
            </div>
        </div><!-- end .page title-->
        <div class="row users-row">
            <div class="col-md-6">
                <div class="user-col">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="assets/images/avtar-2.jpg" alt="100x100" data-src="holder.js/100x100" style="width: 100px; height: 100px;">
                        </a>
                        <div class="media-body">
                            <h3 class="follower-name">Ray Sin</h3>
                            <div><i class="fa fa-map-marker"></i> San Francisco, California, USA</div>
                            <div><i class="fa fa-briefcase"></i> Software Engineer at <a href="">SomeCompany, Inc.</a></div>

                            <div style="height: 20px;"></div>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-info btn-3d btn-sm"><i class="fa fa-envelope-o"></i> Send Message</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <button class="btn btn-success btn-3d btn-sm"><i class="fa fa-check"></i> Following</button>
                                    <button class="btn btn-primary btn-3d btn-sm"><i class="fa fa-check"></i> Followers</button>
                                </div><!-- btn-group -->

                            </div><!-- btn-toolbar -->
                        </div><!-- media-body -->
                    </div>
                </div>
            </div><!--.col-6-->
            <div class="col-md-6">
                <div class="user-col">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="assets/images/avtar-3.jpg" alt="100x100" data-src="holder.js/100x100" style="width: 100px; height: 100px;">
                        </a>
                        <div class="media-body">
                            <h3 class="follower-name">Ray Sin</h3>
                            <div><i class="fa fa-map-marker"></i> San Francisco, California, USA</div>
                            <div><i class="fa fa-briefcase"></i> Software Engineer at <a href="">SomeCompany, Inc.</a></div>

                            <div style="height: 20px;"></div>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-info btn-3d btn-sm"><i class="fa fa-envelope-o"></i> Send Message</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <button class="btn btn-success btn-3d btn-sm"><i class="fa fa-check"></i> Following</button>
                                    <button class="btn btn-primary btn-3d btn-sm"><i class="fa fa-check"></i> Followers</button>
                                </div><!-- btn-group -->

                            </div><!-- btn-toolbar -->
                        </div><!-- media-body -->
                    </div>
                </div>
            </div><!--.col-6-->
            <div class="col-md-6">
                <div class="user-col">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="assets/images/avtar-2.jpg" alt="100x100" data-src="holder.js/100x100" style="width: 100px; height: 100px;">
                        </a>
                        <div class="media-body">
                            <h3 class="follower-name">Ray Sin</h3>
                            <div><i class="fa fa-map-marker"></i> San Francisco, California, USA</div>
                            <div><i class="fa fa-briefcase"></i> Software Engineer at <a href="">SomeCompany, Inc.</a></div>

                            <div style="height: 20px;"></div>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-info btn-3d btn-sm"><i class="fa fa-envelope-o"></i> Send Message</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <button class="btn btn-success btn-3d btn-sm"><i class="fa fa-check"></i> Following</button>
                                    <button class="btn btn-primary btn-3d btn-sm"><i class="fa fa-check"></i> Followers</button>
                                </div><!-- btn-group -->

                            </div><!-- btn-toolbar -->
                        </div><!-- media-body -->
                    </div>
                </div>
            </div><!--.col-6-->
            <div class="col-md-6">
                <div class="user-col">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="assets/images/avtar-1.jpg" alt="100x100" data-src="holder.js/100x100" style="width: 100px; height: 100px;">
                        </a>
                        <div class="media-body">
                            <h3 class="follower-name">Ray Sin</h3>
                            <div><i class="fa fa-map-marker"></i> San Francisco, California, USA</div>
                            <div><i class="fa fa-briefcase"></i> Software Engineer at <a href="">SomeCompany, Inc.</a></div>

                            <div style="height: 20px;"></div>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-info btn-3d btn-sm"><i class="fa fa-envelope-o"></i> Send Message</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <button class="btn btn-success btn-3d btn-sm"><i class="fa fa-check"></i> Following</button>
                                    <button class="btn btn-primary btn-3d btn-sm"><i class="fa fa-check"></i> Followers</button>
                                </div><!-- btn-group -->

                            </div><!-- btn-toolbar -->
                        </div><!-- media-body -->
                    </div>
                </div>
            </div><!--.col-6-->
            <div class="col-md-6">
                <div class="user-col">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="assets/images/avtar-3.jpg" alt="100x100" data-src="holder.js/100x100" style="width: 100px; height: 100px;">
                        </a>
                        <div class="media-body">
                            <h3 class="follower-name">Ray Sin</h3>
                            <div><i class="fa fa-map-marker"></i> San Francisco, California, USA</div>
                            <div><i class="fa fa-briefcase"></i> Software Engineer at <a href="">SomeCompany, Inc.</a></div>

                            <div style="height: 20px;"></div>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-info btn-3d btn-sm"><i class="fa fa-envelope-o"></i> Send Message</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <button class="btn btn-success btn-3d btn-sm"><i class="fa fa-check"></i> Following</button>
                                    <button class="btn btn-primary btn-3d btn-sm"><i class="fa fa-check"></i> Followers</button>
                                </div><!-- btn-group -->

                            </div><!-- btn-toolbar -->
                        </div><!-- media-body -->
                    </div>
                </div>
            </div><!--.col-6-->
            <div class="col-md-6">
                <div class="user-col">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="assets/images/avtar-2.jpg" alt="100x100" data-src="holder.js/100x100" style="width: 100px; height: 100px;">
                        </a>
                        <div class="media-body">
                            <h3 class="follower-name">Ray Sin</h3>
                            <div><i class="fa fa-map-marker"></i> San Francisco, California, USA</div>
                            <div><i class="fa fa-briefcase"></i> Software Engineer at <a href="">SomeCompany, Inc.</a></div>

                            <div style="height: 20px;"></div>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-info btn-3d btn-sm"><i class="fa fa-envelope-o"></i> Send Message</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <button class="btn btn-success btn-3d btn-sm"><i class="fa fa-check"></i> Following</button>
                                    <button class="btn btn-primary btn-3d btn-sm"><i class="fa fa-check"></i> Followers</button>
                                </div><!-- btn-group -->

                            </div><!-- btn-toolbar -->
                        </div><!-- media-body -->
                    </div>
                </div>
            </div><!--.col-6-->
            <div class="col-md-6">
                <div class="user-col">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="assets/images/avtar-1.jpg" alt="100x100" data-src="holder.js/100x100" style="width: 100px; height: 100px;">
                        </a>
                        <div class="media-body">
                            <h3 class="follower-name">Ray Sin</h3>
                            <div><i class="fa fa-map-marker"></i> San Francisco, California, USA</div>
                            <div><i class="fa fa-briefcase"></i> Software Engineer at <a href="">SomeCompany, Inc.</a></div>

                            <div style="height: 20px;"></div>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-info btn-3d btn-sm"><i class="fa fa-envelope-o"></i> Send Message</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <button class="btn btn-success btn-3d btn-sm"><i class="fa fa-check"></i> Following</button>
                                    <button class="btn btn-primary btn-3d btn-sm"><i class="fa fa-check"></i> Followers</button>
                                </div><!-- btn-group -->

                            </div><!-- btn-toolbar -->
                        </div><!-- media-body -->
                    </div>
                </div>
            </div><!--.col-6-->
            <div class="col-md-6">
                <div class="user-col">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="assets/images/avtar-3.jpg" alt="100x100" data-src="holder.js/100x100" style="width: 100px; height: 100px;">
                        </a>
                        <div class="media-body">
                            <h3 class="follower-name">Ray Sin</h3>
                            <div><i class="fa fa-map-marker"></i> San Francisco, California, USA</div>
                            <div><i class="fa fa-briefcase"></i> Software Engineer at <a href="">SomeCompany, Inc.</a></div>

                            <div style="height: 20px;"></div>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-info btn-3d btn-sm"><i class="fa fa-envelope-o"></i> Send Message</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <button class="btn btn-success btn-3d btn-sm"><i class="fa fa-check"></i> Following</button>
                                    <button class="btn btn-primary btn-3d btn-sm"><i class="fa fa-check"></i> Followers</button>
                                </div><!-- btn-group -->

                            </div><!-- btn-toolbar -->
                        </div><!-- media-body -->
                    </div>
                </div>
            </div><!--.col-6-->
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company © 2016
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->